{% import "stream_options_macro.html" | common as stream_options %}
{% extends "common/view_streams.html" %}
{% block title %}Stream: {{ID}}{% endblock %}

{% block content %}
    <style>
      table
      {
        border:1px solid black;padding:5px;font-size: 110%
      }
      td
      {
        text-align:right;
        border:1px solid grey;padding:5px;
      }
      th
      {
        text-align:center;
        border:1px solid grey;padding:5px;
      }
      body
      {
        margin: 28px;
      }
    </style>
<div class="row">
    <div class="col-lg-7 col-md-12 order-lg-1 order-md-2">
{%for row in rows%}
<table>
<TR><TH>PV Name</TH><TH>{{row[0]}}</TH></TR>
<TR><TH>Description</TH><TD>{{row[1]}}</TD></TR>
<TR><TH>Last Sample Time</TH><TD>{{row[2]}}</TD></TR>
<TR><TH>Last Sample Value</TH><TD>{{row[3]}}</TD></TR>
<TR><TH>Channel ID</TH><TD>{{row[4]}}</TD></TR>
<TR><TH>DataType</TH><TD>{{row[5]}}</TD></TR>
<TR><TH>Group ID</TH><TD>{{row[6]}}</TD></TR>
<TR><TH>Group Name</TH><TD>{{row[7]}}</TD></TR>
<TR><TH>Group Description</TH><TD>{{row[8]}}</TD></TR>
<TR><TH>Engine ID</TH><TD>{{row[9]}}</TD></TR>
<TR><TH>Precision</TH><TD>{{row[10]}}</TD></TR>
<TR><TH>Units</TH><TD>{{row[11]}}</TD></TR>
<TR><TH>Low Display Range</TH><TD>{{row[12]}}</TD></TR>
<TR><TH>High Display Range</TH><TD>{{row[13]}}</TD></TR>
<TR><TH>Low Warning Limit</TH><TD>{{row[14]}}</TD></TR>
<TR><TH>High Warning Limit</TH><TD>{{row[15]}}</TD></TR>
<TR><TH>Low Alarm Limit</TH><TD>{{row[16]}}</TD></TR>
<TR><TH>High Alarm Limit</TH><TD>{{row[17]}}</TD></TR>
</table>
<P>
{%endfor%}		
  </div>
    <div class="col-lg-5 col-md-10 col-sm-12 hcenter order-lg-2 order-md-1">
        <div class="card">
            <div class="card-header">Display Options</div>
            <div class="card-body">
                <form class="form" role="form">
                    {{ stream_options.threshold_option("form-range-lo", "form-range-hi",low,high) }}
                    {{ stream_options.time_range("start", "end", "toggle",start_time,end_time) }}
                    {{ stream_options.download("download") }}
	        </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script defer type="module">
import * as module from "{{ url_for('static', filename='js/minargon/timeseries.js') }}";
// build the link
var link = new module.Data.D3DataLink(new module.DataLink.EpicsStreamLink($SCRIPT_ROOT, "{{database}}", "{{ID}}"));

// build cubism controller
var controller = new module.CubismController("#cubism-timeseries", link, ["{{config['yTitle']}}"], {{config|tojson}}, 25)
  .heightController("#form-height")
  .rangeController("#form-range-lo", "#form-range-hi");

// start cubism
// controller.run();

// build plotly controller
var plotly_controller = new module.PlotlyController("plotly-timeseries", link, ["{{config['yTitle']}}"], {{config|tojson}})
  .timeRangeController("#start", "#end", "#toggle")
  .downloadDataController("#download")
  //.getData(0, 3600000);//"{{start_timestamp_int}}","{{end_timestamp_int}}")
  //.updateParam("{{low}}", "{{high}}")

// start it
//if user does supply start/end time call getData
//plotly_controller.getData(877189500,1034951400);
//updateParam thresholds

//plotly_controller.getData({{start_timestamp_int}}, {{end_timestamp_int}});

plotly_controller.run();


</script>

{% endblock %}
