{% macro checked_select(id, checked) %}
<div class="form-group row">
  <div class="col-sm-12" id={{id}}>
    Selected:{% if checked|length == 0 %} None{% endif %}
    <br>
    <ul id={{id}}-list class="list-group">
      {% for c in checked %}
        <li id={{id}}-item-{{loop.index}} class='list-group-item {{id}}-item active'>
        {{ c["file"] }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>

var checked = {{checked|tojson|safe}};
$("#{{id}}-list li").each(function(i) {
  $(this).data("node", checked[i]);
});

$(".{{id}}-item").click(function() {
  if ($(this).hasClass("active")) {
    $(this).removeClass("active");
  }
  else {
    $(this).addClass("active");
  }
});

</script>

{% endmacro %}


{% macro fuzzy_select_async(id) %}
<div class="form-group row">
  <div class="col-sm-12" id={{id}}>
    Fuzzy Search: <input type="text" id={{id}}-input name="fname" placeholder="loading data...">
  </div>
</div>
<div class="row">
  <div class="col-sm-12" id={{id}}>
  <ul id={{id}}-list class="list-group">

  </ul>
  </div>
</div>

<script src="{{ url_for('static', filename='js/library/fuzzysort.js') }}"></script>
<script src="{{ url_for('static', filename='js/library/localforage.min.js') }}"></script>

<script>


$(document).ready(function() {
// setup localforage
var storage = localforage.createInstance({
    driver      : localforage.INDEXEDDB, 
    name        : 'minargonTargets',
    version     : 1.0,
    storeName   : 'minargonStreams', 
    description : 'Storage for list of data streams accessible by minargon.'
});

// current UTC timestamp in seconds
var now = Math.floor((new Date()).getTime() / 1000);

// timeout in cached streams
var TIMEOUT = 60 * 10; // 10 minutes

// try to get the targets
storage.getItem('streams')
.then(function(streams) {
  if ((now - streams.time) > TIMEOUT) {
    throw "TIMEOUT"; // the error handler will update the value
  }

  initSearch(streams.targets);
  
})
// error when value is old or not present -- get the new value
.catch(function(err) {
  get_targets(function(targets) {
    if (!targets) {
      throw_custom_error("Unable to get available streams -- searching not available");
      return;
    }
    initSearch(targets);
    storage.setItem('streams',
      {
        'time': now,
        'targets': targets
      },
      function() {
      }
    );
  }); 


});


});



function multiplyKeys(argList, file_join, ID_join, base) {
    var r = [], max = argList.length-1;
    function helper(arr, i) {
        for (var j=0, l=argList[i].length; j<l; j++) {
            var a = arr.slice(0); // clone arr
            a.push(argList[i][j]);
            if (i==max) {
                var copy = {};
                Object.assign(copy, base);
                copy.file = a.join(file_join);
                copy.ID = a.join(ID_join);
                r.push(copy);
            }
            else
                helper(a, i+1);
        }
    }
    helper([], 0);
    return r;
}

function get_targets(callback) {
d3.json($SCRIPT_ROOT + '/data_list', function(err, data) {
  if (err) {
    $("#{{id}}-input").attr('placeholder', "Error Loading Data!");
    return null;
  }

  // setup the data
  var data = data.data;

  var targets = [];
  // make the list of targets -- multiply stuff if needed
  for (var i = 0; i < data.length; i++) {
    if ("file" in data[i]) {
      targets.push(data[i]);
    }
    else if ("multiply" in data[i] && "file_join" in data[i] && "ID_join" in data[i]) {
      var base = {};
      base.database = data[i].database;
      base.database_type = data[i].database_type;
      
      targets = targets.concat(multiplyKeys(data[i].multiply, data[i].file_join, data[i].ID_join, base));
    }
  }

  targets.forEach(t => t.filePrepared = fuzzysort.prepare(t.file));

  callback(targets);

});

}

function initSearch(targets) {

  var options = {
    limit: 20,
    threshold: -100000,
    key: 'file'
  };

  $("#{{id}}-input").on("input", function() {
    var text = $(this).val();
    $("#{{id}}-list").empty();
    if (text.length == 0) return;
    var results = fuzzysort.go(text, targets, options);
    $("#{{id}}-list").empty();
    for (var i = 0; i < results.length; i++) {
      $("#{{id}}-list").append("<li id='{{id}}-item-" + String(i) + "' class='list-group-item {{id}}-item'>" + results[i].target + "</li>");

      $("#{{id}}-item-"+String(i)).data('node', results[i].obj);

    }

    $(".{{id}}-item").click(function() {
      if ($(this).hasClass("active")) {
        $(this).removeClass("active");
      }
      else {
        $(this).addClass("active");
      }
    });
  });


  $("#{{id}}-input").attr('placeholder', "Enter Fuzzy Text");
  
}


</script>

{% endmacro %}

{% macro update_page(id, treeIDs, checkedIDs) %}
<div class="form-group row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-link" onclick="updateLink{{id}}()">Update Page</button>
  </div>
</div>

<script>
function updateLink{{id}}() {
  var checked = [];

  {% for treeID in treeIDs %}
  {
    var tree = $('#{{treeID}}').treeview('getChecked');
    for (var i = 0; i < tree.length; i++) {
      checked.push(tree[i]);
    }
  }
  {% endfor %}

  {% for checkedID in checkedIDs %}
  {
    var thisChecked = [];
    $("#{{checkedID}}-list li").each(function() {
      if ($(this).hasClass("active")) {
        checked.push($(this).data("node"));
      }
    }); 
  }
  {% endfor %}

  var dest_link = $SCRIPT_ROOT + "/view_streams";
  var args = {};
  for (var i = 0; i < checked.length; i++) {
    // get the database type
    var node = checked[i];
    if (node.database_type === undefined) continue;
    var database_ident = node.database_type + "_" + node.database;
    if (args[database_ident] === undefined) {
      args[database_ident] = String(node.ID);
    }
    else {
      args[database_ident] = args[database_ident] + "," + String(node.ID);
    }
  }
  window.location.href = dest_link + "?" + $.param(args);
}
</script>
{% endmacro %}

{% macro tree_select(data, id) %}
<div class="form-group row">
  <div class="col-sm-12" id={{id}}></div>
</div>
<script>
// Generate the treeview
$('#{{id}}').treeview( {
  levels: 4,
  color: '#428bca',
  data: {{data|tojson}},
  showIcon: false,
  showCheckbox: true,
  enableLinks: false
});


</script>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro metric_option(metrics, default_metric, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">Data</label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for metric, _ in metrics.items() %}
                <option {% if metric==default_metric %}selected="true" {%endif%}value="{{metric}}">{{metric}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro stream_option(streams, default_stream, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">
        Stream
    </label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for stream in streams %}
                <option {% if stream==default_stream %}selected="true" {%endif%}value="{{loop.index0}}">{{stream}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro height_option(heights, default_height, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">
        Height
    </label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for height in heights %}
                <option {%if height == default_height %}selected="true"{% endif %} value="{{height}}">{{height}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}

{# -------------------------------------------------------------------------- #}
{% macro threshold_option(id_lo, id_hi, low=none, high=none) %}
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Threshold Hi</label>
    <div class="col-sm-6">
	{% if high is none: %}
		<input type="text" size="12" id="{{id_hi}}">
	{% else: %}
        	<input type="text" size="12" id="{{id_hi}}" value="{{high}}">
	{% endif %}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Threshold Lo</label>
    <div class="col-sm-6">
        {% if low is none: %}
		<input type="text" size="13" id="{{id_lo}}">
	{% else: %}
		<input type="text" size="13" id="{{id_lo}}" value="{{low}}">
	{% endif %}
    </div>
</div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro warning_option(id_lo, id_hi) %}
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Warning Hi</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_hi}}">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Warning Lo</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_lo}}">
    </div>
</div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro download(id) %}
<div class="form-group row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-link" id="{{id}}">Download Data</button>
  </div>
</div>
{% endmacro %}

{# -------------------------------------------------------------------------- #}
{% macro time_range(id_start, id_end, id_toggle, start_time=none, end_time=none) %}
<!-- Start -->
<div class="form-group row">
   <label class="col-sm-5 control-form-label col-form-label">Start Time</label> 
   <div class="col-sm-7">
     {% if start_time is none: %}
	 <input id="{{id_start}}">
     {% else: %}
	 <input id="{{id_start}}" value="{{start_time}}">
     {% endif %}
  </div>
</div>

<!-- End -->
<div class="form-group row">
   <label class="col-sm-5 control-form-label col-form-label">End Time</label> 
   <div class="col-sm-7">
     {% if end_time is none: %}
	 <input id="{{id_end}}">
     {% else: %}
	 <input id="{{id_end}}" value="{{end_time}}">
     {% endif %}
  </div>
</div>

<!-- Buttons -->
<div class="form-group row">
  <div class="col-sm-12">
    <div id="{{id_toggle}}" class="btn-group btn-group-toggle" data-toggle="buttons">
      
      <!-- Toggle Live -->
      <label class="btn btn-secondary active" id="{{id_toggle}}-label-live">
        <input type="radio" name="options" value="live" id="{{id_toggle}}-live" autocomplete="off"> Live
      </label>

      <!-- Toggle Hour -->
      <label class="btn btn-secondary" id="{{id_toggle}}-label-hour" >
        <input type="radio" name="options" value="live" id="{{id_toggle}}-hour" autocomplete="off" > Hour
      </label>

      <!-- Toggle Day -->
      <label class="btn btn-secondary" id="{{id_toggle}}-label-day">
        <input type="radio" name="options" value="live" id="{{id_toggle}}-day" autocomplete="off" > Day
      </label>
      
      <!-- Toggle Lookback -->
      <label class="btn btn-secondary" id="{{id_toggle}}-label-lookback">
        <input type="radio" name="options" value="lookback" id="{{id_toggle}}-lookback" autocomplete="off"> Lookback
      </label>
      
    </div>
  </div>
</div>

<script>
function updateToggle(toggle_id) {

  // Create toggle strings -- need this for multiple streams
  var toggle_live     = "#" + toggle_id + "-live";
  var toggle_lookback = "#" + toggle_id + "-lookback";
  var toggle_hour     = "#" + toggle_id + "-hour";
  var toggle_day      = "#" + toggle_id + "-day";
  var toggle          = "#" + toggle_id;

  if ($(toggle_live).prop("checked")) {
    $(toggle).val("live");
  }
  else if ($(toggle_lookback).prop("checked")) {
    $(toggle).val("lookback");
  }
  else if ($(toggle_hour).prop("checked")) {
    $(toggle).val("hour");
  }
  else if ($(toggle_day).prop("checked")) {
    $(toggle).val("day");
  }
  
  $(toggle).trigger("date-change");
}

// when the selected date-time range is valid, toggle the live button
function toggleLive(current_time, input) {
  
  var this_start = moment($('#{{id_start}}').datetimepicker('getValue'));
  
  var this_end = moment($('#{{id_end}}').datetimepicker('getValue'));
  
  if (this_start.isBefore(this_end)) {

    $("#{{id_toggle}}-label-live").removeClass("active");
    
    $("#{{id_toggle}}-label-lookback").addClass("active");
    
    $("#{{id_toggle}}-live").prop("checked", false);
    
    $("#{{id_toggle}}-lookback").prop("checked", true);
    
    updateToggle("{{id_toggle}}");
  }
}

// setup the two datetimepickers
jQuery('#{{id_start}}').datetimepicker({
  {% if start_time is not none %}
	value:'{{start_time}}',
  {% endif %}
  mask:true,
  format: 'MM/DD/YYYY HH:mm',
  formatDate:'MM/DD/YYYY',
  formatTime: 'HH:mm',
  onClose: toggleLive
});

jQuery('#{{id_end}}').datetimepicker({
  {% if end_time is not none %}
	value:'{{end_time}}',
  {% endif %}
  mask:true,
  format: 'MM/DD/YYYY HH:mm',
  formatDate:'MM/DD/YYYY',
  formatTime: 'HH:mm',
  onClose: toggleLive
});


var live_picker = ["#{{id_toggle}}-live", "#{{id_toggle}}-hour", "#{{id_toggle}}-day"];

// setup the toggle button to turn off the pickers
for (var i = 0; i < live_picker.length; i++){
  $(live_picker[i]).change(
    function() {
      if ($(this).prop('checked')) {
        $('#{{id_end}}').datetimepicker('reset');
        $('#{{id_start}}').datetimepicker('reset');
        updateToggle("{{id_toggle}}");
      }
  });
}

</script>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
