{% extends "layout.html" | front_ended %}

{% block title %}SBND TPC Readout Power Supplies Status{% endblock %}

{% block body %}
{{ super() }}
<h2>SBND TPC Readout Power Supplies Status </h2>

<div class="row">
<P>
<TABLE>
<TR><TH>Crate</TH><TH>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TH><TH>Power</TH><TH>SetVolt</TH>
    <TH>SenseVolt</TH><TH>TermVolt</TH><TH>Current</TH><TH>Temp</TH>
    <TH>CurrLimit</TH><TH>VoltRise</TH><TH>VoltFall</TH><TH>TripDelay</TH><TH>TripBehave</TH>
</TR>


<TR align="center"><TD>01</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='10') }}"  id="sbnd_tpc_readout_01/outputStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='11') }}"  id="sbnd_tpc_readout_01/outputSwitch" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='180') }}"  id="sbnd_tpc_readout_01/outputVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='9') }}"  id="sbnd_tpc_readout_01/outputMeasurementSenseVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='13') }}"  id="sbnd_tpc_readout_01/outputMeasurementTerminalVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='6') }}"  id="sbnd_tpc_readout_01/outputMeasurementCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='12') }}"  id="sbnd_tpc_readout_01/outputMeasurementTemperature">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='175') }}"  id="sbnd_tpc_readout_01/outputCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='179') }}"  id="sbnd_tpc_readout_01/outputVoltageRiseRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='178') }}"  id="sbnd_tpc_readout_01/outputVoltageFallRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='14') }}"  id="sbnd_tpc_readout_01/outputTripTimeMaxCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='7') }}"  id="sbnd_tpc_readout_01/outputSupervisionBehavior">&nbsp;</a></td>
</TR>

<TR align="center"><TD>02</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='19') }}"  id="sbnd_tpc_readout_02/outputStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='20') }}"  id="sbnd_tpc_readout_02/outputSwitch" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='189') }}"  id="sbnd_tpc_readout_02/outputVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='18') }}"  id="sbnd_tpc_readout_02/outputMeasurementSenseVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='22') }}"  id="sbnd_tpc_readout_02/outputMeasurementTerminalVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='15') }}"  id="sbnd_tpc_readout_02/outputMeasurementCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='21') }}"  id="sbnd_tpc_readout_02/outputMeasurementTemperature">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='184') }}"  id="sbnd_tpc_readout_02/outputCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='188') }}"  id="sbnd_tpc_readout_02/outputVoltageRiseRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='189') }}"  id="sbnd_tpc_readout_02/outputVoltageFallRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='23') }}"  id="sbnd_tpc_readout_02/outputTripTimeMaxCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='16') }}"  id="sbnd_tpc_readout_02/outputSupervisionBehavior">&nbsp;</a></td>
</TR>

<TR align="center"><TD>03</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='28') }}"  id="sbnd_tpc_readout_03/outputStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='29') }}"  id="sbnd_tpc_readout_03/outputSwitch" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='198') }}"  id="sbnd_tpc_readout_03/outputVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='27') }}"  id="sbnd_tpc_readout_03/outputMeasurementSenseVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='31') }}"  id="sbnd_tpc_readout_03/outputMeasurementTerminalVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='24') }}"  id="sbnd_tpc_readout_03/outputMeasurementCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='30') }}"  id="sbnd_tpc_readout_03/outputMeasurementTemperature">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='193') }}"  id="sbnd_tpc_readout_03/outputCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='197') }}"  id="sbnd_tpc_readout_03/outputVoltageRiseRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='198') }}"  id="sbnd_tpc_readout_03/outputVoltageFallRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='32') }}"  id="sbnd_tpc_readout_03/outputTripTimeMaxCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='25') }}"  id="sbnd_tpc_readout_03/outputSupervisionBehavior">&nbsp;</a></td>
</TR>

<TR align="center"><TD>04</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='37') }}"  id="sbnd_tpc_readout_04/outputStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='38') }}"  id="sbnd_tpc_readout_04/outputSwitch" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='207') }}"  id="sbnd_tpc_readout_04/outputVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='36') }}"  id="sbnd_tpc_readout_04/outputMeasurementSenseVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='40') }}"  id="sbnd_tpc_readout_04/outputMeasurementTerminalVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='33') }}"  id="sbnd_tpc_readout_04/outputMeasurementCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='39') }}"  id="sbnd_tpc_readout_04/outputMeasurementTemperature">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='202') }}"  id="sbnd_tpc_readout_04/outputCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='206') }}"  id="sbnd_tpc_readout_04/outputVoltageRiseRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='205') }}"  id="sbnd_tpc_readout_04/outputVoltageFallRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='41') }}"  id="sbnd_tpc_readout_04/outputTripTimeMaxCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='34') }}"  id="sbnd_tpc_readout_04/outputSupervisionBehavior">&nbsp;</a></td>
</TR>

<TR align="center"><TD>05</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='46') }}"  id="sbnd_tpc_readout_05/outputStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='47') }}"  id="sbnd_tpc_readout_05/outputSwitch" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='216') }}"  id="sbnd_tpc_readout_05/outputVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='45') }}"  id="sbnd_tpc_readout_05/outputMeasurementSenseVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='49') }}"  id="sbnd_tpc_readout_05/outputMeasurementTerminalVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='42') }}"  id="sbnd_tpc_readout_05/outputMeasurementCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='48') }}"  id="sbnd_tpc_readout_05/outputMeasurementTemperature">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='211') }}"  id="sbnd_tpc_readout_05/outputCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='215') }}"  id="sbnd_tpc_readout_05/outputVoltageRiseRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='214') }}"  id="sbnd_tpc_readout_05/outputVoltageFallRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='50') }}"  id="sbnd_tpc_readout_05/outputTripTimeMaxCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='43') }}"  id="sbnd_tpc_readout_05/outputSupervisionBehavior">&nbsp;</a></td>
</TR>

<TR align="center"><TD>06</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='55') }}"  id="sbnd_tpc_readout_06/outputStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='56') }}"  id="sbnd_tpc_readout_06/outputSwitch" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='225') }}"  id="sbnd_tpc_readout_06/outputVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='54') }}"  id="sbnd_tpc_readout_06/outputMeasurementSenseVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='58') }}"  id="sbnd_tpc_readout_06/outputMeasurementTerminalVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='51') }}"  id="sbnd_tpc_readout_06/outputMeasurementCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='57') }}"  id="sbnd_tpc_readout_06/outputMeasurementTemperature">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='220') }}"  id="sbnd_tpc_readout_06/outputCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='224') }}"  id="sbnd_tpc_readout_06/outputVoltageRiseRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='223') }}"  id="sbnd_tpc_readout_06/outputVoltageFallRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='59') }}"  id="sbnd_tpc_readout_06/outputTripTimeMaxCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='52') }}"  id="sbnd_tpc_readout_06/outputSupervisionBehavior">&nbsp;</a></td>
</TR>

<TR align="center"><TD>07</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='64') }}"  id="sbnd_tpc_readout_07/outputStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='65') }}"  id="sbnd_tpc_readout_07/outputSwitch" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='234') }}"  id="sbnd_tpc_readout_07/outputVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='63') }}"  id="sbnd_tpc_readout_07/outputMeasurementSenseVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='67') }}"  id="sbnd_tpc_readout_07/outputMeasurementTerminalVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='60') }}"  id="sbnd_tpc_readout_07/outputMeasurementCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='66') }}"  id="sbnd_tpc_readout_07/outputMeasurementTemperature">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='229') }}"  id="sbnd_tpc_readout_07/outputCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='233') }}"  id="sbnd_tpc_readout_07/outputVoltageRiseRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='232') }}"  id="sbnd_tpc_readout_07/outputVoltageFallRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='68') }}"  id="sbnd_tpc_readout_07/outputTripTimeMaxCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='61') }}"  id="sbnd_tpc_readout_07/outputSupervisionBehavior">&nbsp;</a></td>
</TR>

<TR align="center"><TD>08</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='73') }}"  id="sbnd_tpc_readout_08/outputStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='74') }}"  id="sbnd_tpc_readout_08/outputSwitch" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='243') }}"  id="sbnd_tpc_readout_08/outputVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='72') }}"  id="sbnd_tpc_readout_08/outputMeasurementSenseVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='76') }}"  id="sbnd_tpc_readout_08/outputMeasurementTerminalVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='69') }}"  id="sbnd_tpc_readout_08/outputMeasurementCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='75') }}"  id="sbnd_tpc_readout_08/outputMeasurementTemperature">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='238') }}"  id="sbnd_tpc_readout_08/outputCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='242') }}"  id="sbnd_tpc_readout_08/outputVoltageRiseRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='241') }}"  id="sbnd_tpc_readout_08/outputVoltageFallRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='77') }}"  id="sbnd_tpc_readout_08/outputTripTimeMaxCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='70') }}"  id="sbnd_tpc_readout_08/outputSupervisionBehavior">&nbsp;</a></td>
</TR>

<TR align="center"><TD>09</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='82') }}"  id="sbnd_tpc_readout_09/outputStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='83') }}"  id="sbnd_tpc_readout_09/outputSwitch" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='252') }}"  id="sbnd_tpc_readout_09/outputVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='81') }}"  id="sbnd_tpc_readout_09/outputMeasurementSenseVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='85') }}"  id="sbnd_tpc_readout_09/outputMeasurementTerminalVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='78') }}"  id="sbnd_tpc_readout_09/outputMeasurementCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='84') }}"  id="sbnd_tpc_readout_09/outputMeasurementTemperature">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='247') }}"  id="sbnd_tpc_readout_09/outputCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='251') }}"  id="sbnd_tpc_readout_09/outputVoltageRiseRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='250') }}"  id="sbnd_tpc_readout_09/outputVoltageFallRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='86') }}"  id="sbnd_tpc_readout_09/outputTripTimeMaxCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='79') }}"  id="sbnd_tpc_readout_09/outputSupervisionBehavior">&nbsp;</a></td>
</TR>

<TR align="center"><TD>10</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='91') }}"  id="sbnd_tpc_readout_10/outputStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='92') }}"  id="sbnd_tpc_readout_10/outputSwitch" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='261') }}"  id="sbnd_tpc_readout_10/outputVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='90') }}"  id="sbnd_tpc_readout_10/outputMeasurementSenseVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='94') }}"  id="sbnd_tpc_readout_10/outputMeasurementTerminalVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='87') }}"  id="sbnd_tpc_readout_10/outputMeasurementCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='93') }}"  id="sbnd_tpc_readout_10/outputMeasurementTemperature">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='256') }}"  id="sbnd_tpc_readout_10/outputCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='260') }}"  id="sbnd_tpc_readout_10/outputVoltageRiseRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='259') }}"  id="sbnd_tpc_readout_10/outputVoltageFallRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='95') }}"  id="sbnd_tpc_readout_10/outputTripTimeMaxCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='94') }}"  id="sbnd_tpc_readout_10/outputSupervisionBehavior">&nbsp;</a></td>
</TR>

<TR align="center"><TD>11</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='100') }}"  id="sbnd_tpc_readout_11/outputStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='101') }}"  id="sbnd_tpc_readout_11/outputSwitch" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='270') }}"  id="sbnd_tpc_readout_11/outputVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='99') }}"  id="sbnd_tpc_readout_11/outputMeasurementSenseVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='103') }}"  id="sbnd_tpc_readout_11/outputMeasurementTerminalVoltage">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='96') }}"  id="sbnd_tpc_readout_11/outputMeasurementCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='102') }}"  id="sbnd_tpc_readout_11/outputMeasurementTemperature">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='265') }}"  id="sbnd_tpc_readout_11/outputCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='269') }}"  id="sbnd_tpc_readout_11/outputVoltageRiseRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='268') }}"  id="sbnd_tpc_readout_11/outputVoltageFallRate">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='104') }}"  id="sbnd_tpc_readout_11/outputTripTimeMaxCurrent">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='97') }}"  id="sbnd_tpc_readout_11/outputSupervisionBehavior">&nbsp;</a></td>
</TR>

</TABLE>
</P>
</div>

<div class="row" style="margin-top: 25px;">
<P>
<TABLE>
<TR><TH>Rack</TH><TH>Power</TH><TH>Status</TH><TH>Serial</TH><TH>Group Switch</TH>
</TR>

<TR align="center"><TD>0</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='112') }}"  id="sbnd_tpc_readout_rack0/sysMainSwitch">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='115') }}"  id="sbnd_tpc_readout_rack0/sysStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='113') }}"  id="sbnd_tpc_readout_rack0/psSerialNum">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='111') }}"  id="sbnd_tpc_readout_rack0/groupSwitch">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
</TR>

<TR align="center"><TD>1</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='126') }}"  id="sbnd_tpc_readout_rack1/sysMainSwitch">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='129') }}"  id="sbnd_tpc_readout_rack1/sysStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='127') }}"  id="sbnd_tpc_readout_rack1/psSerialNum">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='125') }}"  id="sbnd_tpc_readout_rack1/groupSwitch">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
</TR>

<TR align="center"><TD>2</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='140') }}"  id="sbnd_tpc_readout_rack2/sysMainSwitch">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='143') }}"  id="sbnd_tpc_readout_rack2/sysStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='141') }}"  id="sbnd_tpc_readout_rack2/psSerialNum">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='139') }}"  id="sbnd_tpc_readout_rack2/groupSwitch">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
</TR>

<TR align="center"><TD>3</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='154') }}"  id="sbnd_tpc_readout_rack3/sysMainSwitch">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='157') }}"  id="sbnd_tpc_readout_rack3/sysStatus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='155') }}"  id="sbnd_tpc_readout_rack3/psSerialNum">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='153') }}"  id="sbnd_tpc_readout_rack3/groupSwitch">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
</TR>

</TABLE>
</P>
</div>
{%endblock%}

<!---->
{% block script %}
<link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/lights.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/lights.js') }}"></script>
    <style>
      table
      {
        border:1px solid black;padding:5px;font-size: 100%
      }
      td
      {
        text-align:right;
        border:1px solid grey;padding:5px;
      }
      th
      {
        text-align:center;
        border:1px solid grey;padding:5px;
      }
      body
      {
        margin: 28px;
      }
    </style>

<!-- Populate above table -->
<script type="text/javascript">
$(document).ready(function() {
{%for row in rows%}
{
  var item = document.getElementById("{{row[0]}}");
  var pvName = "{{row[0]}}";

  if (item) 
  {
    if ( pvName.endsWith("outputSwitch") || pvName.endsWith("sysMainSwitch"))
    {
      var pvValue = "{{row[3]}}";
      if ( pvValue =="1.000" || pvValue == "1" )
      {
         item.className = "led-green";
      }
      else
      {
         item.className = "led-red";
      }
    }
    else
    {
      item.innerHTML = "{{row[3]}}";
    }
  }
}
{%endfor%}		
});
</script>

<meta http-equiv="refresh" content="15">
<!-- </html> -->
{%endblock%}

