{% extends "layout.html" | front_ended %}

{% block title %}SBND TPC Readout Power Supplies Status{% endblock %}

{% block body %}
{{ super() }}
<h2>SBND TPC Readout Power Supplies Status </h2>

<div class="row">
<P>
<TABLE>
<TR><TH>Crate</TH><TH>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TH><TH>Power</TH><TH>SetVolt</TH>
    <TH>SenseVolt</TH><TH>TermVolt</TH><TH>Current</TH><TH>Temp</TH>
    <TH>MaxCurr</TH><TH>CurrLimit</TH><TH>VoltRise</TH><TH>VoltFall</TH><TH>TripDelay</TH><TH>TripBehave</TH>
</TR>


<TR align="center"><TD>01</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='10') }}"  id="sbnd_tpc_readout_01/switch_read">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='11') }}"  id="sbnd_tpc_readout_01/switch_set" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='180') }}"  id="sbnd_tpc_readout_01/volt_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='9') }}"  id="sbnd_tpc_readout_01/sensevolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='13') }}"  id="sbnd_tpc_readout_01/terminalvolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='6') }}"  id="sbnd_tpc_readout_01/curr_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='12') }}"  id="sbnd_tpc_readout_01/temp_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='172') }}"  id="sbnd_tpc_readout_01/configmaxcurr_rw">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='175') }}"  id="sbnd_tpc_readout_01/constcurrentmode_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='179') }}"  id="sbnd_tpc_readout_01/volt_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='178') }}"  id="sbnd_tpc_readout_01/volt_fallrate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='14') }}"  id="sbnd_tpc_readout_01/triptimemaxcurr_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='7') }}"  id="sbnd_tpc_readout_01/outputbehavior_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}" id="sbnd_tpc_readout_01/outputconfig_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}" id="sbnd_tpc_readout_01/configmaxsensevolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}" id="sbnd_tpc_readout_01/configmaxterminalvolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}" id="sbnd_tpc_readout_01/curr_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}" id="sbnd_tpc_readout_01/curr_fallrate_set">&nbsp;</a></td>
</TR>

<TR align="center"><TD>02</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='19') }}"  id="sbnd_tpc_readout_02/switch_read">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='20') }}"  id="sbnd_tpc_readout_02/switch_set" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='189') }}"  id="sbnd_tpc_readout_02/volt_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='18') }}"  id="sbnd_tpc_readout_02/sensevolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='22') }}"  id="sbnd_tpc_readout_02/terminalvolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='15') }}"  id="sbnd_tpc_readout_02/curr_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='21') }}"  id="sbnd_tpc_readout_02/temp_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='181') }}"  id="sbnd_tpc_readout_02/configmaxcurr_rw">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='184') }}"  id="sbnd_tpc_readout_02/constcurrentmode_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='188') }}"  id="sbnd_tpc_readout_02/volt_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='189') }}"  id="sbnd_tpc_readout_02/volt_fallrate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='23') }}"  id="sbnd_tpc_readout_02/triptimemaxcurr_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='16') }}"  id="sbnd_tpc_readout_02/outputbehavior_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_02/outputconfig_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_02/configmaxsensevolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_02/configmaxterminalvolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_02/curr_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_02/curr_fallrate_set">&nbsp;</a></td>
</TR>

<TR align="center"><TD>03</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='28') }}"  id="sbnd_tpc_readout_03/switch_read">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='29') }}"  id="sbnd_tpc_readout_03/switch_set" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='198') }}"  id="sbnd_tpc_readout_03/volt_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='27') }}"  id="sbnd_tpc_readout_03/sensevolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='31') }}"  id="sbnd_tpc_readout_03/terminalvolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='24') }}"  id="sbnd_tpc_readout_03/curr_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='30') }}"  id="sbnd_tpc_readout_03/temp_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='190') }}"  id="sbnd_tpc_readout_03/configmaxcurr_rw">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='193') }}"  id="sbnd_tpc_readout_03/constcurrentmode_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='197') }}"  id="sbnd_tpc_readout_03/volt_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='198') }}"  id="sbnd_tpc_readout_03/volt_fallrate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='32') }}"  id="sbnd_tpc_readout_03/triptimemaxcurr_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='25') }}"  id="sbnd_tpc_readout_03/outputbehavior_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_03/outputconfig_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_03/configmaxsensevolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_03/configmaxterminalvolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_03/curr_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_03/curr_fallrate_set">&nbsp;</a></td>
</TR>

<TR align="center"><TD>04</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='37') }}"  id="sbnd_tpc_readout_04/switch_read">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='38') }}"  id="sbnd_tpc_readout_04/switch_set" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='207') }}"  id="sbnd_tpc_readout_04/volt_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='36') }}"  id="sbnd_tpc_readout_04/sensevolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='40') }}"  id="sbnd_tpc_readout_04/terminalvolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='33') }}"  id="sbnd_tpc_readout_04/curr_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='39') }}"  id="sbnd_tpc_readout_04/temp_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='199') }}"  id="sbnd_tpc_readout_04/configmaxcurr_rw">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='202') }}"  id="sbnd_tpc_readout_04/constcurrentmode_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='206') }}"  id="sbnd_tpc_readout_04/volt_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='205') }}"  id="sbnd_tpc_readout_04/volt_fallrate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='41') }}"  id="sbnd_tpc_readout_04/triptimemaxcurr_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='34') }}"  id="sbnd_tpc_readout_04/outputbehavior_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_04/outputconfig_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_04/configmaxsensevolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_04/configmaxterminalvolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_04/curr_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_04/curr_fallrate_set">&nbsp;</a></td>
</TR>

<TR align="center"><TD>05</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='46') }}"  id="sbnd_tpc_readout_05/switch_read">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='47') }}"  id="sbnd_tpc_readout_05/switch_set" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='216') }}"  id="sbnd_tpc_readout_05/volt_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='45') }}"  id="sbnd_tpc_readout_05/sensevolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='49') }}"  id="sbnd_tpc_readout_05/terminalvolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='42') }}"  id="sbnd_tpc_readout_05/curr_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='48') }}"  id="sbnd_tpc_readout_05/temp_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='208') }}"  id="sbnd_tpc_readout_05/configmaxcurr_rw">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='211') }}"  id="sbnd_tpc_readout_05/constcurrentmode_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='215') }}"  id="sbnd_tpc_readout_05/volt_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='214') }}"  id="sbnd_tpc_readout_05/volt_fallrate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='50') }}"  id="sbnd_tpc_readout_05/triptimemaxcurr_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='43') }}"  id="sbnd_tpc_readout_05/outputbehavior_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_05/outputconfig_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_05/configmaxsensevolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_05/configmaxterminalvolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_05/curr_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_05/curr_fallrate_set">&nbsp;</a></td>
</TR>

<TR align="center"><TD>06</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='55') }}"  id="sbnd_tpc_readout_06/switch_read">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='56') }}"  id="sbnd_tpc_readout_06/switch_set" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='225') }}"  id="sbnd_tpc_readout_06/volt_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='54') }}"  id="sbnd_tpc_readout_06/sensevolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='58') }}"  id="sbnd_tpc_readout_06/terminalvolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='51') }}"  id="sbnd_tpc_readout_06/curr_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='57') }}"  id="sbnd_tpc_readout_06/temp_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='217') }}"  id="sbnd_tpc_readout_06/configmaxcurr_rw">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='220') }}"  id="sbnd_tpc_readout_06/constcurrentmode_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='224') }}"  id="sbnd_tpc_readout_06/volt_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='223') }}"  id="sbnd_tpc_readout_06/volt_fallrate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='59') }}"  id="sbnd_tpc_readout_06/triptimemaxcurr_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='52') }}"  id="sbnd_tpc_readout_06/outputbehavior_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_06/outputconfig_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_06/configmaxsensevolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_06/configmaxterminalvolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_06/curr_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_06/curr_fallrate_set">&nbsp;</a></td>
</TR>

<TR align="center"><TD>07</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='64') }}"  id="sbnd_tpc_readout_07/switch_read">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='65') }}"  id="sbnd_tpc_readout_07/switch_set" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='234') }}"  id="sbnd_tpc_readout_07/volt_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='63') }}"  id="sbnd_tpc_readout_07/sensevolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='67') }}"  id="sbnd_tpc_readout_07/terminalvolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='60') }}"  id="sbnd_tpc_readout_07/curr_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='66') }}"  id="sbnd_tpc_readout_07/temp_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='226') }}"  id="sbnd_tpc_readout_07/configmaxcurr_rw">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='229') }}"  id="sbnd_tpc_readout_07/constcurrentmode_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='233') }}"  id="sbnd_tpc_readout_07/volt_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='232') }}"  id="sbnd_tpc_readout_07/volt_fallrate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='68') }}"  id="sbnd_tpc_readout_07/triptimemaxcurr_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='61') }}"  id="sbnd_tpc_readout_07/outputbehavior_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_07/outputconfig_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_07/configmaxsensevolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_07/configmaxterminalvolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_07/curr_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_07/curr_fallrate_set">&nbsp;</a></td>
</TR>

<TR align="center"><TD>08</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='73') }}"  id="sbnd_tpc_readout_08/switch_read">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='74') }}"  id="sbnd_tpc_readout_08/switch_set" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='243') }}"  id="sbnd_tpc_readout_08/volt_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='72') }}"  id="sbnd_tpc_readout_08/sensevolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='76') }}"  id="sbnd_tpc_readout_08/terminalvolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='69') }}"  id="sbnd_tpc_readout_08/curr_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='75') }}"  id="sbnd_tpc_readout_08/temp_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='235') }}"  id="sbnd_tpc_readout_08/configmaxcurr_rw">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='238') }}"  id="sbnd_tpc_readout_08/constcurrentmode_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='242') }}"  id="sbnd_tpc_readout_08/volt_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='241') }}"  id="sbnd_tpc_readout_08/volt_fallrate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='77') }}"  id="sbnd_tpc_readout_08/triptimemaxcurr_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='70') }}"  id="sbnd_tpc_readout_08/outputbehavior_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_08/outputconfig_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_08/configmaxsensevolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_08/configmaxterminalvolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_08/curr_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_08/curr_fallrate_set">&nbsp;</a></td>
</TR>

<TR align="center"><TD>09</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='82') }}"  id="sbnd_tpc_readout_09/switch_read">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='83') }}"  id="sbnd_tpc_readout_09/switch_set" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='252') }}"  id="sbnd_tpc_readout_09/volt_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='81') }}"  id="sbnd_tpc_readout_09/sensevolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='85') }}"  id="sbnd_tpc_readout_09/terminalvolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='78') }}"  id="sbnd_tpc_readout_09/curr_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='84') }}"  id="sbnd_tpc_readout_09/temp_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='244') }}"  id="sbnd_tpc_readout_09/configmaxcurr_rw">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='247') }}"  id="sbnd_tpc_readout_09/constcurrentmode_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='251') }}"  id="sbnd_tpc_readout_09/volt_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='250') }}"  id="sbnd_tpc_readout_09/volt_fallrate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='86') }}"  id="sbnd_tpc_readout_09/triptimemaxcurr_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='79') }}"  id="sbnd_tpc_readout_09/outputbehavior_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_09/outputconfig_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_09/configmaxsensevolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_09/configmaxterminalvolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_09/curr_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_09/curr_fallrate_set">&nbsp;</a></td>
</TR>

<TR align="center"><TD>10</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='91') }}"  id="sbnd_tpc_readout_10/switch_read">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='92') }}"  id="sbnd_tpc_readout_10/switch_set" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='261') }}"  id="sbnd_tpc_readout_10/volt_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='90') }}"  id="sbnd_tpc_readout_10/sensevolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='94') }}"  id="sbnd_tpc_readout_10/terminalvolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='87') }}"  id="sbnd_tpc_readout_10/curr_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='93') }}"  id="sbnd_tpc_readout_10/temp_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='253') }}"  id="sbnd_tpc_readout_10/configmaxcurr_rw">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='256') }}"  id="sbnd_tpc_readout_10/constcurrentmode_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='260') }}"  id="sbnd_tpc_readout_10/volt_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='259') }}"  id="sbnd_tpc_readout_10/volt_fallrate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='95') }}"  id="sbnd_tpc_readout_10/triptimemaxcurr_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='94') }}"  id="sbnd_tpc_readout_10/outputbehavior_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_10/outputconfig_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_10/configmaxsensevolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_10/configmaxterminalvolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_10/curr_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_10/curr_fallrate_set">&nbsp;</a></td>
</TR>

<TR align="center"><TD>11</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='100') }}"  id="sbnd_tpc_readout_11/switch_read">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='101') }}"  id="sbnd_tpc_readout_11/switch_set" class="led-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='270') }}"  id="sbnd_tpc_readout_11/volt_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='99') }}"  id="sbnd_tpc_readout_11/sensevolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='103') }}"  id="sbnd_tpc_readout_11/terminalvolt_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='96') }}"  id="sbnd_tpc_readout_11/curr_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='102') }}"  id="sbnd_tpc_readout_11/temp_read">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='262') }}"  id="sbnd_tpc_readout_11/configmaxcurr_rw">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='265') }}"  id="sbnd_tpc_readout_11/constcurrentmode_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='269') }}"  id="sbnd_tpc_readout_11/volt_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='268') }}"  id="sbnd_tpc_readout_11/volt_fallrate_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='104') }}"  id="sbnd_tpc_readout_11/triptimemaxcurr_set">&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='97') }}"  id="sbnd_tpc_readout_11/outputbehavior_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_11/outputconfig_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_11/configmaxsensevolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_11/configmaxterminalvolt_rw">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_11/curr_riserate_set">&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_11/curr_fallrate_set">&nbsp;</a></td>
</TR>

</TABLE>
</P>
</div>

<div class="row" style="margin-top: 25px;">
<P>
<TABLE>
<TR><TH>Rack</TH><TH>Power</TH><TH>Status</TH><TH>Serial</TH><TH>Group Switch</TH>
</TR>

<TR align="center"><TD>0</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='112') }}"  id="sbnd_tpc_readout_rack0/mainswitch_set">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='115') }}"  id="sbnd_tpc_readout_rack0/ps_status_string">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='113') }}"  id="sbnd_tpc_readout_rack0/ps_serialnum">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='111') }}"  id="sbnd_tpc_readout_rack0/groupswitchhv_set">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_rack0/ps_status">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
</TR>

<TR align="center"><TD>1</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='126') }}"  id="sbnd_tpc_readout_rack1/mainswitch_set">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='129') }}"  id="sbnd_tpc_readout_rack1/ps_status_string">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='127') }}"  id="sbnd_tpc_readout_rack1/ps_serialnum">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='125') }}"  id="sbnd_tpc_readout_rack1/groupswitchhv_set">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_rack1/ps_status">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
</TR>

<TR align="center"><TD>2</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='140') }}"  id="sbnd_tpc_readout_rack2/mainswitch_set">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='143') }}"  id="sbnd_tpc_readout_rack2/ps_status_string">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='141') }}"  id="sbnd_tpc_readout_rack2/ps_serialnum">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='139') }}"  id="sbnd_tpc_readout_rack2/groupswitchhv_set">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}"  id="sbnd_tpc_readout_rack2/ps_status">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
</TR>

<TR align="center"><TD>3</TD>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='154') }}"  id="sbnd_tpc_readout_rack3/mainswitch_set">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='157') }}"  id="sbnd_tpc_readout_rack3/ps_status_string">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='155') }}"  id="sbnd_tpc_readout_rack3/ps_serialnum">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='153') }}"  id="sbnd_tpc_readout_rack3/groupswitchhv_set">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    <TD style="text-align:center;visibility:hidden"><a href="{{ url_for('pv_single_stream', database='sbnd_epics', ID='') }}" id="sbnd_tpc_readout_rack3/ps_status">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
</TR>

</TABLE>
</P>
</div>
{%endblock%}

<!---->
{% block script %}
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/lights.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/lights.js') }}"></script>
    <style>
      table
      {
        border:1px solid black;padding:5px;font-size: 110%
      }
      td
      {
        text-align:right;
        border:1px solid grey;padding:5px;
      }
      th
      {
        text-align:center;
        border:1px solid grey;padding:5px;
      }
      body
      {
        margin: 28px;
      }
    </style>

<!-- Populate above table -->
<script type="text/javascript">
$(document).ready(function() {
{%for row in rows%}
{
  var item = document.getElementById("{{row[0]}}");
  var pvName = "{{row[0]}}";

  if (item) {
    if ( pvName.endsWith("switch_set") || pvName.endsWith("mainswitch_set"))
    {
      var pvValue = "{{row[3]}}";
      if ( pvValue =="1.000" || pvValue == "1" )
      {
         item.className = "led-green";
      }
      else
      {
         item.className = "led-red";
      }
    }
    else
    {
      item.innerHTML = "{{row[3]}}";
    }
  }
}
{%endfor%}		
});
</script>

<meta http-equiv="refresh" content="15">
<!-- </html> -->
{%endblock%}

