.inline {
  display: inline-block;
}

.hollowLoader {
  float: right;
  width: 1.5em;
  height: 1.5em;
  animation: loaderAnim 1.25s infinite ease-in-out;
  outline: 1px solid transparent;
}

.largeBox {
    height: 1.5em;
    width: 1.5em;
    background-color: #34495e; // #ECECEC;
    outline: 1px solid transparent;
    position: fixed;
}

.smallBox {
    height: 1.5em;
    width: 1.5em;
    background-color: #cce5ff; // #ECECEC; // #34495e;
    position: fixed;
    z-index: 1;
    outline: 1px solid transparent;
    animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
}

@keyframes smallBoxAnim {
  0% {transform: scale(0.2);}
  100% {transform: scale(0.75);}
}

@keyframes loaderAnim {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(90deg);}
}

.hcenter {
    float: none;
    margin: 0 auto;
}
.vcenter {
    display: flex;
    align-items: center;
}

.list-inline-horizontal {
    text-align: center;
    display: table-row;
    float: none;
}

.list-inline-horizontal .list-inline-item {
    display: table-cell;
	margin-bottom: 0;
	margin-left:-2px;
	margin-right: 0;
	border: 1px solid rgba(0, 0, 0, 0.125);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
}
.list-inline-horizontal .list-inline-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-inline-horizontal .list-inline-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}

div.alert-holder {
  position: fixed;
  margin-left: 10px;
  width: 25%;
  opacity: 1;
  z-index: 1000000
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

