<div class="hcenter col-md-10 form-group" style="text-align: center">
    <div class="table-wrapper" id="data-header-parent" style="display: inline-table;">
    <ul class="list-inline list-inline-horizontal">
        {% for ident, this_val in view_ind.items() %}
            <li class="list-inline-item">
                <div  style="display: inline-block; white-space: nowrap;">
                <label class="control-form-label col-form-label" style="display: inline-block;">{{ident}}</label>
                <script>
                  function {{ident}}_ondown(e) {
                    var keyCode = e.keyCode || e.which;
                    if (keyCode == '13') {
                      window.location.href = window.location.href.split('?')[0] + '?{{ident}}=' + String($("#{{ident}}-select").val());
                    }
                  }
                </script>
		<input type="number" id="{{ident}}-select" class="form-control" style="display: inline-block; width: 50%;" value="{{this_val}}"
                  onkeydown="{{ident}}_ondown(event)">
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>
</div>

