{% extends "layout.html" | front_ended %}
{% block title %}Introduction to Minargon{% endblock %}
{% block body %}
{{ super() }}
<div class="col-md-8 hcenter">
<h1>
ICARUS Online Monitoring
</h1>
<p>
Online monitoring website for the ICARUS Detector. 

<br>

TPC Online monitoring operation is: <span id="TPC-OM"> </span>
<br>

PMT Online monitoring operation is: <span id="PMT-OM"> </span>

<br>

DAQConsumer operation is: <span id="OM-status"> </span>

<br>

Archiver operation is: <span id="AR-status"> </span>

<br>

Redis Memory Usage is: <span id="redis-mem"><span id="redis-mem-GB"> </span>GB / <span id="redis-mem-percent"> </span>%</span>
</p>
{%endblock%}

{% block script %}
<script defer type="module">
import * as Data from "{{ url_for('static', filename='js/minargon/Data.js') }}";
import * as DataLink from "{{ url_for('static', filename='js/minargon/DataLink.js') }}";
import * as Poll from "{{ url_for('static', filename='js/minargon/poll.js') }}";
import {throw_database_error} from "{{ url_for('static', filename='js/minargon/error.js') }}";

// monitor DAQConsumer
var timeout = 5 * 1000; // ms

function is_recent(time, time_is_ok) {
  var now = moment(new Date).tz("America/Chicago").unix() * 1000. /* s -> ms */;
  var ret = (now - time) < time_is_ok;
  return ret;
}


function update_is_recent(data_link, spanid, time_is_ok) {
  data_link.get_data(function(err, data) {
    if (err) {
      throw_database_error(err, "update_heartbeat: " + data_link.accessors()[0][0]);
      return;
    }

    var datalist = data.values[data_link.accessors()[0][0]];
    var recent;
    if (datalist.length == 0) {
      recent = false;
    }
    else {
      recent = is_recent(datalist[datalist.length-1][0], time_is_ok);
    }
    if (recent) {
      $(spanid).text("ON");
      $(spanid).css({"color": "green"});
    }
    else {
      $(spanid).text("OFF");
      $(spanid).css({"color": "red"});
    }
    setTimeout(function() {update_is_recent(data_link, spanid, time_is_ok);}, timeout);
  });

}


var data_link_ar = new Data.D3DataLink(new DataLink.SingleStreamLink($SCRIPT_ROOT + "/online", "archiver_heartbeat"));
update_is_recent(data_link_ar, "#AR-status", 120 * 1000 /* ms */);

var data_link_om = new Data.D3DataLink(new DataLink.SingleStreamLink($SCRIPT_ROOT + "/online", "DAQConsumer")); 
update_is_recent(data_link_om, "#OM-status", 10 * 1000 /* ms*/);


var poll_tpc = new Poll.Poll($SCRIPT_ROOT + "/online/hget/eventmetaTPC/run,subrun,event,time");
poll_tpc.add_callback(function(data) {
    var spanid = "#TPC-OM";
    if (is_recent(data.time, 10 * 1000 /* 10 s*/)) {
      $(spanid).text("ON");
      $(spanid).css({"color": "green"});
    }
    else {
      $(spanid).text("OFF");
      $(spanid).css({"color": "red"});
    } 
});
poll_tpc.run();

var poll_pmt = new Poll.Poll($SCRIPT_ROOT + "/online/hget/eventmetaPMT/run,subrun,event,time");
poll_pmt.add_callback(function(data) {
    var spanid = "#PMT-OM";
    if (is_recent(data.time, 10 * 1000 /* 10 s*/)) {
      $(spanid).text("ON");
      $(spanid).css({"color": "green"});
    }
    else {
      $(spanid).text("OFF");
      $(spanid).css({"color": "red"});
    } 
});
poll_pmt.run();

var poll_redis_mem_gb = new Poll.Poll($SCRIPT_ROOT + "/online/total_memory_usage");
poll_redis_mem_gb.add_callback(function(data) {
    if (!data || !data.val) return;
    var spanid = "#redis-mem-GB";
    $(spanid).text((data.val / (1024 * 1024 * 1024)).toFixed(2));
});
poll_redis_mem_gb.run();

var poll_redis_mem_frac = new Poll.Poll($SCRIPT_ROOT + "/online/total_memory_usage_fraction");
poll_redis_mem_frac.add_callback(function(data) {
    if (!data || !data.val) return;
    var spanid = "#redis-mem-percent";
    $(spanid).text((data.val * 100).toFixed(2));

    spanid = "#redis-mem";
    if (data.val > 0.85) {
      $(spanid).css({"color": "red"});
    }
    else {
      $(spanid).css({"color": "green"});
    }
   
});
poll_redis_mem_frac.run();

</script> 
{%endblock%}

