{% import "stream_options_macro.html" as stream_options %}

{% extends "layout.html" %}
{% block title %}Stream: {{ID}}{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
<div class="row">
    <div class="col-md-8">
	<!-- cubism div -->
	<div style="padding:0" id="cubism-timeseries"></div>
	<!-- plotly div -->
	<div style="padding:0" id="plotly-timeseries"></div>
    </div>
    <div class="col-md-4 vcenter">
        <div class="card hcenter">
            <div class="card-header">Display Options</div>
            <div class="card-body">
                <form class="form" role="form">
                    {{ stream_options.height_option([25, 40, 60, 80, 100], 25, "form-height") }}
                    {{ stream_options.threshold_option("form-range-lo", "form-range-hi") }}
                    {{ stream_options.time_range("start", "end", "toggle") }}
                    {{ stream_options.download("download") }}
	        </form>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}
{% block script %}
<script defer type="module">
import * as module from "{{ url_for('static', filename='js/minargon/timeseries.js') }}";

// build the link
var link = new module.DataLink.PostgresStreamLink($SCRIPT_ROOT, "{{ID}}");

// build cubism controller
var controller = new module.CubismController("#cubism-timeseries", link, ["{{ID}}"], undefined, 25)
  .heightController("#form-height")
  .rangeController("#form-range-lo", "#form-range-hi");

// start cubism
// controller.run();

// build plotly controller
var plotly_controller = new module.PlotlyController("plotly-timeseries", link, ["{{ID}}"], undefined) 
  .timeRangeController("#start", "#end", "#toggle")
  .downloadDataController("#download");

// start it
plotly_controller.run();
</script>
{% endblock %}
