{% extends "layout.html" %}
{% import "stream_options_macro.html" as stream_options %}

{% block title %}Purity{% endblock %}
{% block body %}
{{ super() }}
<!-- This is the Stream Options  -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
	<div class="card-header">Stream Options</div>
	<div class="card-body">
          <form class="form" role="form">
            {{ stream_options.step_option(timeseries.steps, timeseries.steps[0], "form-step") }}
            {{ stream_options.height_option([40, 60, 80, 100], 40, "form-height") }}
          </form>
	</div>
      </div>
    </div>
  </div>
  <!-- This holds the cube thing -->
  <div class="col-md-8" style="padding:0" id="timeseries"></div>
</div>
{%endblock%}
{% block script %}
<script defer type="module">
import * as module from "{{ url_for('static', filename='js/minargon/timeseries.js') }}";
// global variables to be accessed by form fields, etc.
var controller = new module.CubismMultiMetricController("#timeseries", {{timeseries.to_json()|safe}}, 0, 40)
  .heightController("#form-height")
  .stepController("#form-step"); 

// start polling for data
controller.run();
</script>
{% endblock %}

