{% import "stream_options_macro.html" as stream_options %}

{% extends "layout.html" %}
{% block title %}Stream: {{ var }}{% endblock %}

{# ------------------------------ Html Body --------------------------------- #}
{% block body %}
{{ super() }}
<!-- Variable Header -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-only-glyphicons.css') }}" media="screen">
<h1 style="color:rgb(34, 153, 84  );"><center>{{ var }}</center></h1>
<hr>
<div class="container">
    
    <!--  Loop over IDs -->
    {% for ID in IDs %}
        <!-- Plot and Options -->
        <div class="row">
            <!-- Plot -->
            <div class="col-md-8">
                <!-- plotly div -->
                <div style="padding:0" id="plotly-controller-{{ ID }}"></div>
            </div>
            
            <!-- Options Bar -->
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 vcenter">
                <!-- Options List Tabs -->
                <div class="card hcenter">
                    
                    <!-- Card Header -->
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="options-list-{{ ID }}" role="tablist">
                            <!-- Display Options -->
                            <li class="nav-item">
                                <a class="nav-link active" href="#Display-Options-{{ ID }}" role="tab" aria-controls="Display-Options-{{ ID }}" aria-selected="true">Display Options</a>
                            </li>
                            <!-- Variable Description -->
                            <li class="nav-item">
                                <a class="nav-link"  href="#Description-{{ ID }}" role="tab" aria-controls="Description-{{ ID }}" aria-selected="false">Description</a>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="tab-content mt-3">
                            
                            <!-- Active Tab Display Options Content -->
                            <div class="tab-pane active" id="Display-Options-{{ ID }}" role="tabpanel">
                                <form class="form" role="form">
                                    {# {{ stream_options.height_option([25, 40, 60, 80, 100], 25, "form-height") }} #}
                                    {# {{ stream_options.threshold_option("form-range-lo", "form-range-hi") }} #}
                                    {{ stream_options.time_range(starts[loop.index0], ends[loop.index0], toggles[loop.index0]) }}
                                    {{ stream_options.download(downloads[loop.index0]) }}
                                </form>
                            </div>
                        
                            <!-- Second Tab Description -->
                            <div class="tab-pane" id="Description-{{ ID }}" role="tabpanel" aria-labelledby="Description-tab">  
                                <p class="card-text"> 
                                    Did you know that the Allosaurus (which mean different lizzard) is from the Late Jurrasic Period,
                                    about 150 million years ago. They are the coolest carnivorous dinosaur. 
                                    </p>
                            </div>
                        
                        </div>
                    </div>
                
                </div>
            </div> <!-- end options bar -->
        
        </div> <!-- end row -->

        <!-- Horizontal Break -->
        <hr>
    {% endfor %}

</div>
{% endblock %}

{# ------------------------------ Javascript -------------------------------- #}
{% block script %}
<script defer type="module">
    import * as module from "{{ url_for('static', filename='js/minargon/timeseries.js') }}";
    
    // Get the elements and convert to JSON
    var IDs_ = {{ IDs | tojson }};
    var configs_ = {{ configs | tojson }};

    // Loop over each ID
    for (var i = 0; i < IDs_.length; i++) {

        // Build the link
        var link = new module.Data.D3DataLink(new module.DataLink.PostgresStreamLink($SCRIPT_ROOT, "{{ database }}", IDs_[i] ));

        // Create controller and id names
        var controller  = "plotly-controller-"+IDs_[i];
        var start_id    = "#start-"+IDs_[i];
        var end_id      = "#end-"+IDs_[i];
        var toggle_id   = "#toggle-"+IDs_[i];
        var download_id = "#download-"+IDs_[i];

        // Build plotly controller
        var plotly_controller = new module.PlotlyController(controller, link, [configs_[i].yTitle], configs_[i])
            .timeRangeController(start_id, end_id, toggle_id)
            .downloadDataController(download_id )

        // Start it
        plotly_controller.run();
    
        // Function for activating options tab when clicked
        var options_list = '#options-list-' + +IDs_[i] + ' a';
        $(options_list).on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        });
    }

    

</script>
{% endblock %}
{# ---------------------------------- End ----------------------------------- #}