{% macro tree_select(data, id) %}
<div class="form-group row">
  <label class="col-sm-12 control-form-label col-form-label">Add Data:</label>
</div>
<div class="form-group row">
  <div class="col-sm-12" id={{id}}></div>
</div>
<script>
// Generate the treeview
$('#{{id}}').treeview( {
  levels: 4,
  color: '#428bca',
  data: {{data|tojson}},
  enableLinks: false
});

</script>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro metric_option(metrics, default_metric, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">Data</label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for metric, _ in metrics.items() %}
                <option {% if metric==default_metric %}selected="true" {%endif%}value="{{metric}}">{{metric}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro stream_option(streams, default_stream, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">
        Stream
    </label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for stream in streams %}
                <option {% if stream==default_stream %}selected="true" {%endif%}value="{{loop.index0}}">{{stream}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro height_option(heights, default_height, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">
        Height
    </label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for height in heights %}
                <option {%if height == default_height %}selected="true"{% endif %} value="{{height}}">{{height}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro threshold_option(id_lo, id_hi) %}
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Threshold Hi</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_hi}}">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Threshold Lo</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_lo}}">
    </div>
</div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro warning_option(id_lo, id_hi) %}
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Warning Hi</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_hi}}">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Warning Lo</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_lo}}">
    </div>
</div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro download(id) %}
<div class="form-group row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-link" id="{{id}}">Download Data</button>
  </div>
</div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro time_range(id_start, id_end, id_toggle) %}

<!-- Start -->
<div class="form-group row">
   <label class="col-sm-5 control-form-label col-form-label">Start Time</label> 
   <div class="col-sm-7">
     <input id="{{id_start}}">
  </div>
</div>

<!-- End -->
<div class="form-group row">
   <label class="col-sm-5 control-form-label col-form-label">End Time</label> 
   <div class="col-sm-7">
     <input id="{{id_end}}">
  </div>
</div>

<!-- Buttons -->
<div class="form-group row">
  <div class="col-sm-12">
    <div id="{{id_toggle}}" class="btn-group btn-group-toggle" data-toggle="buttons">
      
      <!-- Toggle Live -->
      <label class="btn btn-secondary active" id="{{id_toggle}}-label-live">
        <input type="radio" name="options" value="live" id="{{id_toggle}}-live" autocomplete="off"> Live
      </label>

      <!-- Toggle Hour -->
      <label class="btn btn-secondary" id="{{id_toggle}}-label-hour">
        <input type="radio" name="options" value="live" id="{{id_toggle}}-live-hour" autocomplete="off"> Hour
      </label>

      <!-- Toggle Day -->
      <label class="btn btn-secondary" id="{{id_toggle}}-label-day">
        <input type="radio" name="options" value="live" id="{{id_toggle}}-live-day" autocomplete="off"> Day
      </label>
      
      <!-- Toggle Lookback -->
      <label class="btn btn-secondary" id="{{id_toggle}}-label-lookback">
        <input type="radio" name="options" value="lookback" id="{{id_toggle}}-lookback" autocomplete="off"> Lookback
      </label>
      
    </div>
  </div>
</div>

<script>
function updateToggle(toggle_id) {

  // Create toggle strings -- need this for multiple streams
  var toggle_live     = "#" + toggle_id + "-live";
  var toggle_lookback = "#" + toggle_id + "-lookback";
  var toggle_hour     = "#" + toggle_id + "-hour";
  var toggle_day      = "#" + toggle_id + "-day";
  var toggle          = "#" + toggle_id;

  if ($(toggle_live).prop("checked")) {
    $(toggle).val("live");
  }
  else if ($(toggle_lookback).prop("checked")) {
    $(toggle).val("lookback");
  }
  else if ($(toggle_hour).prop("checked")) {
    $(toggle).val("hour");
  }
  else if ($(toggle_day).prop("checked")) {
    $(toggle).val("day");
  }
  
  $(toggle).trigger("date-change");
}

// when the selected date-time range is valid, toggle the live button
function toggleLive(current_time, input) {
  
  var this_start = moment($('#{{id_start}}').datetimepicker('getValue'));
  
  var this_end = moment($('#{{id_end}}').datetimepicker('getValue'));
  
  if (this_start.isBefore(this_end)) {

    $("#{{id_toggle}}-label-live").removeClass("active");
    
    $("#{{id_toggle}}-label-lookback").addClass("active");
    
    $("#{{id_toggle}}-live").prop("checked", false);
    
    $("#{{id_toggle}}-lookback").prop("checked", true);
    
    updateToggle("{{id_toggle}}");
  }
}

// setup the two datetimepickers
jQuery('#{{id_start}}').datetimepicker({
  mask:true,
  format: 'MM/DD/YYYY HH:mm',
  formatDate:'MM/DD/YYYY',
  formatTime: 'HH:mm',
  onClose: toggleLive
});

jQuery('#{{id_end}}').datetimepicker({
  mask:true,
  format: 'MM/DD/YYYY HH:mm',
  formatDate:'MM/DD/YYYY',
  formatTime: 'HH:mm',
  onClose: toggleLive
});

// setup the toggle button to turn off the pickers
$("#{{id_toggle}}-live").change(
  function() {
    if ($(this).prop('checked')) {
      $('#{{id_end}}').datetimepicker('reset');
      $('#{{id_start}}').datetimepicker('reset');
      updateToggle("{{id_toggle}}");
    }
});

</script>
{% endmacro %}
{# -------------------------------------------------------------------------- #}