{% macro tree_select(data, id) %}
<div class="form-group row">
  <label class="col-sm-12 control-form-label col-form-label">Add Data:</label>
</div>
<div class="form-group row">
  <div class="col-sm-12" id={{id}}></div>
</div>
<script>
// Generate the treeview
$('#{{id}}').treeview( {
  levels: 4,
  color: '#428bca',
  data: {{data|tojson}},
  enableLinks: false
});

</script>
{% endmacro %}

{% macro metric_option(metrics, default_metric, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">Data</label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for metric, _ in metrics.items() %}
                <option {% if metric==default_metric %}selected="true" {%endif%}value="{{metric}}">{{metric}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}

{% macro stream_option(streams, default_stream, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">
        Stream
    </label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for stream in streams %}
                <option {% if stream==default_stream %}selected="true" {%endif%}value="{{loop.index0}}">{{stream}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}

{% macro height_option(heights, default_height, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">
        Height
    </label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for height in heights %}
                <option {%if height == default_height %}selected="true"{% endif %} value="{{height}}">{{height}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}

{% macro threshold_option(id_lo, id_hi, low=none, high=none) %}
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Threshold Hi</label>
    <div class="col-sm-6">
	{% if high is none: %}
		<input type="text" size="12" id="{{id_hi}}">
	{% else: %}
        	<input type="text" size="12" id="{{id_hi}}" value="{{high}}">
	{% endif %}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Threshold Lo</label>
    <div class="col-sm-6">
        {% if low is none: %}
		<input type="text" size="13" id="{{id_lo}}">
	{% else: %}
		<input type="text" size="13" id="{{id_lo}}" value="{{low}}">
	{% endif %}
    </div>
</div>
{% endmacro %}

{% macro warning_option(id_lo, id_hi) %}
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Warning Hi</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_hi}}">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Warning Lo</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_lo}}">
    </div>
</div>
{% endmacro %}

{% macro download(id) %}
<div class="form-group row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-link" id="{{id}}">Download Data</button>
  </div>
</div>
{% endmacro %}

{% macro time_range(id_start, id_end, id_toggle, start_time=none, end_time=none) %}
<div class="form-group row">
   <label class="col-sm-5 control-form-label col-form-label">Start Time</label> 
   <div class="col-sm-7">
     {% if start_time is none: %}
	 <input id="{{id_start}}">
     {% else: %}
	 <input id="{{id_start}}" value="{{start_time}}">
     {% endif %}
  </div>
</div>
<div class="form-group row">
   <label class="col-sm-5 control-form-label col-form-label">End Time</label> 
   <div class="col-sm-7">
     {% if end_time is none: %}
	 <input id="{{id_end}}">
     {% else: %}
	 <input id="{{id_end}}" value="{{end_time}}">
     {% endif %}
  </div>
</div>
<div class="form-group row">
<div class="col-sm-12">
<div id="{{id_toggle}}" class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active" id="{{id_toggle}}-label-live">
    <input type="radio" name="options" value="live" id="{{id_toggle}}-live" autocomplete="off"> Live
  </label>
  <label class="btn btn-secondary" id="{{id_toggle}}-label-lookback">
    <input type="radio" name="options" value="lookback" id="{{id_toggle}}-lookback" autocomplete="off"> Lookback
  </label>
</div>
</div>
</div>
<script>

function updateToggle() {
  if ($("#{{id_toggle}}-live").prop("checked")) {
    $("#{{id_toggle}}").val("live");
  }
  else if ($("#{{id_toggle}}-lookback").prop("checked")) {
    $("#{{id_toggle}}").val("lookback");
  }
  $("#{{id_toggle}}").trigger("date-change");
}

// when the selected date-time range is valid, toggle the live button
function toggleLive(current_time, input) {
  var this_start = moment($('#{{id_start}}').datetimepicker('getValue'));
  var this_end = moment($('#{{id_end}}').datetimepicker('getValue'));
  if (this_start.isBefore(this_end)) {
    $("#{{id_toggle}}-label-live").removeClass("active");
    $("#{{id_toggle}}-label-lookback").addClass("active");
    $("#{{id_toggle}}-live").prop("checked", false);
    $("#{{id_toggle}}-lookback").prop("checked", true);
    updateToggle();
  }
}

// setup the two datetimepickers
jQuery('#{{id_start}}').datetimepicker({
  {% if start_time is not none %}
	value:'{{start_time}}',
  {% endif %}
  mask:true,
  format: 'MM/DD/YYYY HH:mm',
  formatDate:'MM/DD/YYYY',
  formatTime: 'HH:mm',
  onClose: toggleLive
});
jQuery('#{{id_end}}').datetimepicker({
  {% if end_time is not none %}
	value:'{{end_time}}',
  {% endif %}
  mask:true,
  format: 'MM/DD/YYYY HH:mm',
  formatDate:'MM/DD/YYYY',
  formatTime: 'HH:mm',
  onClose: toggleLive
});

// setup the toggle button to turn off the pickers
$("#{{id_toggle}}-live").change(
  function() {
    if ($(this).prop('checked')) {
      $('#{{id_end}}').datetimepicker('reset');
      $('#{{id_start}}').datetimepicker('reset');
      updateToggle();
    }
});

</script>
{% endmacro %}

