{% import "stream_options_macro.html" as stream_options %}

{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
<div class="row">
    <div class="col-md-6 vcenter" style="padding:0">
        <div id="histogram"></div>
    </div>
    <div class="col-md-6 vcenter" style="padding:0">
        <div id="scatter"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8" style="padding:0" id="timeseries"></div>
    <div class="col-md-4 vcenter">
        <div class="card hcenter">
            <div class="card-header">Display Options</div>
            <div class="card-body">
                <form class="form" role="form">
                    {{ stream_options.metric_option(timeseries.metric_config, metric, "form-metric") }}
                    {{ stream_options.stream_option(streams, streams[0], "form-stream") }}
                    {{ stream_options.height_option([25, 40, 60, 80, 100], 25, "form-height") }}
                    {{ stream_options.threshold_option("form-range-lo", "form-range-hi") }}
                    {{ stream_options.warning_option("form-warning-range-lo", "form-warning-range-hi") }}
	        </form>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}
{% block script %}
<script defer type="module">
import * as fielddata from "{{ url_for('static', filename='js/minargon/field_data.js') }}";
import * as timeseries from "{{ url_for('static', filename='js/minargon/timeseries.js') }}";
// global cubism parameters
var controller;
// global field data controller
var field_data;

// timeseries configuration
var config = {{timeseries.to_json()|safe}};

// field data configuration
var field_data_config = {{field_data.to_json()|safe}};

// list of streams
var streams = {{streams|tojson|safe}};

// and stream links
var stream_links = {{stream_links|tojson|safe}};

// set up poll config
field_data = new fielddata.FieldData("{{title}}", field_data_config, "{{metric}}", streams[0], stream_links[0])
  .metricController("#form-metric")
  .rangeController("#form-range-lo", "#form-range-hi", false)
  .warningrangeController("#form-warning-range-lo", "#form-warning-range-hi")
  .set();

// set up histogram to listen
field_data.addHistogram("histogram", "{{view_ident}}");

// and scatter
field_data.addScatter("scatter", "{{view_ident}}");

// begin
field_data.run();

// build cubism controller
controller = new timeseries.CubismController("#timeseries", config, "{{metric}}", stream_links, streams, 0, 25) 
  .linkFunction({{link_function}})
  .metricController("#form-metric")
  .heightController("#form-height")
  .streamController("#form-stream")
  .rangeController("#form-range-lo", "#form-range-hi")
  .set();

// start cubism
controller.run();

// function to update href
function wireLink(instance, field) {
  return "channel_snapshot?channel=" + field.link;
}

function crateLink(instance, field) {
  return "crate_view?crate=" + field.link;
}

function femLink(instance, field) {
  return "fem_view?fem=" + field.link;
}

function channelLink(instance, field) {
  return "channel_snapshot?channel=" + field.link;
}

</script>
{% endblock %}
