{% import "stream_options_macro.html" as stream_options %}

{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
<div class="row">
    <div class="col-md-6 vcenter" style="padding:0">
        <div id="histogram"></div>
    </div>
    <div class="col-md-6 vcenter" style="padding:0">
        <div id="scatter"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 vcenter" style="padding:0">
      <div id ="time-scatter"></div>
    </div>
    <div class="col-md-4 vcenter">
        <div class="card hcenter">
            <div class="card-header">TimeSeries Options</div>
            <div class="card-body">
                <form class="form" role="form">
                    {{ stream_options.time_range("start", "end", "toggle") }}
	        </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8" style="padding:0" id="timeseries"></div>
    <div class="col-md-4 vcenter">
        <div class="card hcenter">
            <div class="card-header">Display Options</div>
            <div class="card-body">
                <form class="form" role="form">
                    {{ stream_options.metric_option(config["metric_config"], metric, "form-metric") }}
                    {{ stream_options.stream_option(config.streams, config.streams[0], "form-stream") }}
                    {{ stream_options.height_option([25, 40, 60, 80, 100], 25, "form-height") }}
                    {{ stream_options.threshold_option("form-range-lo", "form-range-hi") }}
                    {{ stream_options.warning_option("form-warning-range-lo", "form-warning-range-hi") }}
	        </form>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}
{% block script %}
<script defer type="module">
import * as Config from "{{ url_for('static', filename='js/minargon/config.js') }}";

// get the configuration
// var config = new timeseries.TimeSeries({{config|tojson|safe}});
var config = {{config|tojson|safe}};

var config_controller = new Config.GroupConfigController(config, {{link_function}}, ["{{metric}}"], undefined, 0)
    .metricController("#form-metric")
    .streamController("#form-stream"); 

// add the scatter plot
var scatter = config_controller.addGroupDataScatterController("scatter", "{{title}}")
  .rangeController("#form-range-lo", "#form-range-hi", false)
  .warningrangeController("#form-warning-range-lo", "#form-warning-range-hi")
  .set();

// and histogram
var histo = config_controller.addGroupDataHistoController("histogram", "{{title}}")
  .rangeController("#form-range-lo", "#form-range-hi", false)
  .set();

// build cubism controller
var cubism = config_controller.addCubismController("#timeseries", 25)
  .heightController("#form-height")
  .rangeController("#form-range-lo", "#form-range-hi")
  .set();

// build plotly controller
var plotly = config_controller.addPlotlyController("time-scatter")
  .timeRangeController("#start", "#end", "#toggle");

// start the controllers
config_controller.runAll();

// function to update href
function wireLink(group, instance) {
  return "channel_snapshot?channel=" + instance;
}

function crateLink(group, instance) {
  return "crate_view?crate=" + instance;
}

function femLink(group, instance) {
  return "fem_view?fem=" + instance;
}

function channelLink(group, instance) {
  return "channel_snapshot?channel=" + instance;
}

</script>
{% endblock %}
