<div class="hcenter col-md-8 form-group" style="text-align: center">
    <div class="table-wrapper" id="data-header-parent" style="display: inline-table;">
    <ul class="list-inline list-inline-horizontal">
        {% for ident, this_val in view_ind.items() %}
            <li class="list-inline-item">
                <div  style="display: inline-block; white-space: nowrap;">
                <label class="control-form-label col-form-label" style="display: inline-block;">{{ident}}</label>
		<select id="{{ident}}" class="form-control" style="display: inline-block; width: 50%;" onchange="update_page(link_param())">
		{% for val in view_ind_opts[ident] %}
		<option {% if val==this_val %}selected="true" {%endif%}value="{{val}}">{{val}}</option>
		{% endfor %}
		</select>
                </div>
            </li>
        {% endfor %}
        <li class="list-inline-item"><span id="update-time"></span></li>
        <li class="list-inline-item"><span id="update-subrun"></span></li>
    </ul>
    </div>
</div>

