{% extends "layout.html" %}
{% block title %}FEM View{% endblock %}
{% block head %}
{{ super() }}
  <script src="{{ url_for('static', filename='js/library/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/library/cubism.v1.js') }}"></script>
{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
<div class="row">
    <div class="col-md-6 col-centered">
        {% include 'stream_options.html' %}
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="padding:0" id="timeseries"></div>
</div>
</div>
{%endblock%}
{% block script %}
    <script src="{{ url_for('static', filename='js/library/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/cubism.v1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minargon/Data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minargon/add-timeseries.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minargon/detector.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minargon/card_views.js') }}"></script>
{% include "card_views_script.html" %}
<script>


// setup cubism
var context;
var horizon;
$(document).ready(function() {
    var initial_param = {
      height: 40, 
      threshold_lo: CHANNEL_DATA_TYPES[$("#data-type").val()].default_thresholds[0],
      threshold_hi: CHANNEL_DATA_TYPES[$("#data-type").val()].default_thresholds[1]
    };
    Param(initial_param);
    context = create_cubism_context("#timeseries", $("#data-step").val());
    horizon = add_metrics("#timeseries", context, fem_datum_list($("#data-type").val(), {{view_ind|safe}}, {{detector|safe}}), Param());
});

</script>
{% endblock %}
