{% extends "layout.html" %}
{% block title %}Introduction to Minargon{% endblock %}
{% block body %}
{{ super() }}
<div class="col-md-8 hcenter">
<h1>
Vertical Slice Test Online Monitoring
</h1>
<p>
Welcome to the online monitoring for the TPC for the VST! Monitoring for
Wire Chambers and Time of Flight (i.e. Johnny's DQM code) can be found
<a href="#">here</a>. 
<hr>
<h2>Detector Metrics</h2>
<p>
The Online Analysis code is focused on calculating a few metrics on
every channel on every event in the TPC.
</p>
<h4>RMS</h4>
<p>
The RMS noise value of the input waveform in units of ADC values. The
RMS calculation is done after marking out regions that contain signal.
</p>
<h4>Hit Occupancy</h4>
<p>
The rate of hits on that channel per event (expressed as a percentage).
</p>
<h4>Baseline</h4>
<p>
The ADC value corresponding to a zero point input level. Computed by
taking the mode of thse input waveform.
</p>
<h4>Pulse Height</h4>
<p>
The average height of all hits on the channel. For induction plane
wires, the hit height is defined as the average of the amplitudes of the
up-peak and the down-peak of the hit.
</p>
<h4>Next Channel DNoise</h4>
<p>
Metric used to find coherent noise between channels. Calculated by
taking subtracting the waveform of the next wire from the current wire
and then calculating the RMS of the subtracted waveform, then
normalizing by the RMS values of the individual wire waveforms summed in
quadriture. Should be 1 for two wires with totally uncorrelated noise,
and 0 for two wires with totally correlated noise.
</p>
<hr>
<h2>Pages</h2>
<h4>Noise Snapshot</h4>
<p>
Plots a matrix of noise correlation between every pair of wires in the
detector. The matrix is updated ~once per minute and is calculated from
a single event. Unlike other plots on the website, the correlation
matrix will __not__ update automatically.
</p>
<h4>Channel Snapshot</h4>
<p>
Displays info to do with a single channel/wire in the TPC. Plots 
<a href="#">horizon charts</a> of detector metrics calculated for that
channel. Also displays a waveform and the FFT for that waveform of a
recent event for that channel. These plots are re-filled ~once per
minute, and will __not__ update automatically.
</p>
<h4>FEM Snapshot</h4>
<p>
Displays info to do with a single Front End Motherboard (FEM) in the
Nevis Readout board. Currently just shows a waveform of all individual
waveforms from each channel on the FEM summed together. This plot is
re-filled ~once per minute, and will __not__ update automatically.
</p>
<h4>Readout View</h4>
<p>
View detector metrics across groupings of channels in the Nevis Readout
board. The page displays the detector metric in three ways: as a
histogram (upper left), a scatter plot (upper right), and as a 
<a href="#">horizon chart</a> (lower left).
<br><br>
Display options of the plots such as whether the upper plots will
continue updating, the detector metric being shown, and the upper and
lower limits of the plots can be changed on the panel on the lower
right.
<br><br>
The top-level readout view shows detector metrics across the different
FEM's in the Nevis Readout crate. Each datapoint on the page comes from
the metric being averaged across every channel in the FEM. 
Clicking on the horizon chart of an FEM will take you to a view of all
channels on that FEM. 
</p>
<h4>Wireplane View</h4>
<p>
View detector metrics across groupings of wires on the two wire planes.
Layout is the same as for Readout View. Clicking on the horizon chart
of a wire will take you to the <a href="#">Channel Snapshot</a> page of
that wire.
</p>
<h4>Nevis Readout</h4>
<p>
Displays information to do with the Nevis Readout board headers. To be
implemented.
</p>
</div>
{%endblock%}
