<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastr.min.css') }}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/minard.css') }}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/minargon.css') }}" media="screen">
        {% endblock %}
        <script src="{{ url_for('static', filename='js/library/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/library/d3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/moment/moment.min.js') }}"></script> 
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='js/library/toastr.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/library/bootstrap.min.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/library/cubism.v1.js') }}" defer></script> 
	<script src="{{ url_for('static', filename='js/moment/moment-timezone-with-data.min.js') }}" defer></script> 
	<script src="{{ url_for('static', filename='js/minargon/Data.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/minargon/timeseries.js') }}" defer ></script>
	<script src="{{ url_for('static', filename='js/minargon/detector.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/minargon/charts.js') }}" defer></script>

        <!-- $SCRIPT_ROOT for app location -->
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	    function update_page(args) {
		var url_root = [location.protocol, '//', location.host, location.pathname].join('');
		
		var selectors = $("#data-header-parent").find("select");
		selectors.each(function(index) {
		    args[$(this).attr("id")] = $(this).val();
		});
		
		window.location.href = url_root + "?" + $.param(args);
	    }
        </script>

        {% block script %}{% endblock %}

    </head>
    <body>
        {% block body %}
        {% macro nav_link(endpoint, name) -%}
            {% if request.endpoint == endpoint %}
                <li class="nav-item active"><a class="nav-link" href="{{ url_for(endpoint, **kwargs) }}">{{ name }}</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for(endpoint, **kwargs) }}">{{ name }}</a></li>
            {% endif %}
        {%- endmacro %}
        {% macro dropdown_link(endpoint, name) -%}
            {% if request.endpoint == endpoint %}
                <a class="dropdown-item" href="{{ url_for(endpoint, **kwargs) }}">{{ name }}</a>
            {% else %}
                <a class="dropdown-item" href="{{ url_for(endpoint, **kwargs) }}">{{ name }}</a>
            {% endif %}
        {%- endmacro %}
        <nav class="navbar navbar-expand-md bg-maroon navbar-dark fixed-top">
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/SBND-color.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
            &nbsp;SBND Monitoring
          </a>
          <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" 
                  aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>-->
          <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
              {{ nav_link('noise_snapshot', 'Noise Snapshot') }}
              {{ nav_link('channel_snapshot', 'Channel Snapshot') }}
              {{ nav_link('fem_snapshot', 'FEM Snapshot') }}
              {{ nav_link('crate_view', 'Readout View') }}
              {{ nav_link('wireplane_view', 'Wire Plane View') }}
              {{ nav_link('nevis_readout', 'Nevis Readout') }}
              {{ nav_link('recent_warnings', 'Warnings') }}
              <!--{{ nav_link('power_supplies', 'Power Supplies') }}-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('docs') }}">Docs</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </nav>

<!--
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
-->
        {% endblock %}
    </body>
</html>

