<div class="container">
<div class="row">
    {% include 'data_header.html' %}
</div>
<div class="row">
    <div class="col-md-6 vcenter" style="padding:0">
        <div id="histogram"></div>
    </div>
    <div class="col-md-6 vcenter" style="padding:0">
        <div id="scatter"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8" style="padding:0" id="timeseries"></div>
    <div class="col-md-4 vcenter">
        {% include 'stream_scatter_options.html' %}
    </div>
</div>
</div>
