<div class="card">
    <div class="card-header">Stream Options</div>
    <div class="card-body">
        <form class="form" role="form">
            <div class="form-group row">
                <label class="col-sm-4 control-form-label col-form-label">
		Step
		</label>
		<div class="col-sm-8">
		    <select id="data-step" class="form-control" onchange="updateStep(this, '#timeseries', $('#data-type').val(),context,Param(), metric_info)">
			{% for step in steps %}
			<option value="{{step}}" {% if step == default_step%}selected="true" {%endif%}>{{step}} seconds</option>
			{% endfor %}
		    </select>
		</div>
	    </div>
		<div class="form-group row">
		<label class="col-sm-4 control-form-label col-form-label">
		    Height
		</label>
		<div class="col-sm-8">
		    <select id="data-height" class="form-control" onchange="updateParam('#timeseries', context, Param(), metric_info)">
			{% for height in [25, 40, 60, 80, 100] %}
			<option {%if height == 40 %}selected="true"{% endif %} value="{{height}}">{{height}}</option>
			{% endfor %}
		    </select>
		</div>
	    </div>
	</form>
    </div>
</div>
