{% extends "layout.html" %}
{% block title %}Nevis Readout Headers{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">FEM #</th>
      <th scope="col">Polling Time</th>
      <th scope="col">SubRun</th>
      {% for metric in header_metrics %}
      <th scope="col">{{metric}}</th>
      {% endfor %}
   </tr>
  </thead>
  <tbody>
    {% for _,fem in fem_data.fields.items() %}
    <tr>
      <th scope="col">{{fem.fem}}</th>
      <th scope="col"><span id="time_{{fem.fem}}"></span></th>
      <th scope="col"><span id="subrun_{{fem.fem}}"></span></th>
      {% for metric in header_metrics %}
      <th scope="col"><span id="{{metric}}_{{fem.fem}}"></span></th>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock%}
{% block script %}
<script defer>
$(document).ready(function() {
  // set up each metric and a poll for each metric
  {% for metric in header_metrics %}
  {
    var field_data = new FieldData("{{metric}}", {{fem_data.to_json()|safe}}, "{{metric}}", 0)
      .set();
    var listener = function(data) { 
      var data = redisValues(data);
      for (var i = 0; i < data.length; i++) {
        $("#{{metric}}_" + String(i)).html(data[i]); 
      }
    } 
    field_data.addListener(listener);
    {% if loop.index == 1 %}
     var timer = function(data, time) { 
       for (var i = 0; i < data.values.length; i++) { 
         $("#time_" + String(i)).html(moment(time).format("HH:mm:ss"));
         //$("#subrun_" + String(i)).html(data.index.subrun);
         $("#subrun_" + String(i)).html(moment(data.index[i]).format("HH:mm:ss"));
       }
     }
     field_data.addListener(timer);
    {% endif %}
    field_data.updatePoll();
  }
  {% endfor %}
});
</script>
{% endblock %}
