{% extends "layout.html" %}
{% block title %}Noise Monitor{% endblock %}
{% block head %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/library/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/library/cubism.v1.js') }}"></script>
{% endblock %}
{% block body %}
{{ super() }}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="pull-right">Step: 
        <select id="step-menu">
          {% for i in [1,10,100,1000] %}
            <option {% if step == i %}selected="selected" {% endif %}value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row">
      <button id="add-operation">+</button>
      <div id="operations"></div>
    </div>
    <div class="row">
      <div class="col-md-12" style="padding:0" id="demo"></div>
    </div>
  </div>
{%endblock%}
{% block script %}
    <script src="{{ url_for('static', filename='js/library/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/cubism.v1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/monard/tzscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minargon/Data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/stream_utilities.js') }}"></script>
    <script>
        var step = {{ step }};
        var height = {{ height }};
    </script>
<script>
  $("#step-menu").on("change", function() {
      window.location.replace("{{ url_for('system_monitor') }}?step=" + this.value + "&height={{ height }}"+ "&n_channels={{n_channels}}");
  });

  var channel_options = `
     <select id="channel-menu">
     {% for n in range(n_channels) %}
       <option value="{{ n }}" {% if n==0%}selected="selected" {% endif %}>Channel {{ n }}</option>
     {% endfor %}
     </select>`;

var size = $('#demo').width();
var context = cubism.context()
    .serverDelay(1e3)
    .clientDelay(1e3)
    .step({{ step }}*1000)
    .size(size);

d3.select("#demo").selectAll(".axis")
    .data(["top", "bottom"])
  .enter().append("div")
    .attr("class", function(d) { return d + " axis"; })
    .each(function(d) { d3.select(this).call(context.axis().ticks(12).orient(d)); });

d3.select("#demo").append("div")
    .attr("class", "rule")
    .call(context.rule());

datums = []
for (var i=0;i<{{n_channels}};i++) {
  datums.push(new D3DataLink(new ChannelLink($SCRIPT_ROOT, "rms", i)));
}
console.log(datums.map(datum => datum.name()));
d3.select("#demo").selectAll(".horizon")
  .data(datums.map(data_link => context.metric(data_link.get_data, data_link.name()))) 
  .enter().insert("div", ".bottom")
    .attr("class", "horizon")
  .call(context.horizon().height({{ height }}));

context.on("focus", function(i) {
  d3.selectAll(".value").style("right", i == null ? null : context.size() - i + "px");
});

function covariance(sample1, sample2) {
  var ret = 0;
  for (var i = 0; i < sample1.length; i++) {
    ret += sample1[i] * sample2[i];
  }
  ret = ret / sample1.length;
  return ret;
}

function zip_sum(samples) {
  var ret = [];
  var n_samples = samples.length;
  var sample_len = samples[0].length;
  for (var i = 0; i < sample_len; i ++) {
    ret.push(0);
    for (var j = 0; j < n_samples; j ++) {
      ret[i] = ret[i] + samples[i][j];
    }
  }
  return ret;
}

function covariance_multi(sample_list1, sample_list2) {
  return sample_list1.map((sample1, i) => covariance(sample1, sample_list2[i]));
}

function operation_type(str) {
  if (str === "covariance") {
    return function(samples) {
      return covariance_multi(samples[0], samples[1]);
    };
  }
  if (str === "correlation") {
   return function(samples) {
     var covariances =  covariance_multi(samples[0], samples[1]) 
     var var1 = covariance_multi(samples[0], samples[0]) 
     var var2 =  covariance_multi(samples[1], samples[1]);
     return covariance.map((cov, i) => cov / var1[i] / var2[i]);
   };
  }
  if (str === "sum_rms") {
    return function(samples) {
      var combined = zip_sum(values);
      return covariance_multi(combined, combined);
    };
  }
}

function operation(str) {
  return function(values) {
    /*
    for (sample in values) {
      if (sample == 0) { 
        return 0;
      }
    }*/
    return operation_type(str)(values);
  }
}

  // Adding in a new "noise" operation
  $("#add-operation").on("click", function() {
    // add in the html
    $("#operations").append(
      `<div id="operand">
        <select id="op-menu">
          <option selected="selected" value="covariance">covariance</option>
          <option value="sum">sum</option>
        </select>` + channel_options + channel_options + 
      `</div>`);
    // grab the html we just injected
    var operations_div = $("#operations").get(0);
    var this_operand = $(operations_div).find("#operand").get(0);
    // and the list of options defined therein
    var this_select = [];
    $(this_operand).children().each(
      function() { this_select.push($(this).val()); });
    // and from this you can get the channels
    var this_selected_channels = this_select.slice(1);
    // associate a new DataLink with it (through jquery)
    $(this_operand).data("data_link", 
      new D3DataChain(
        this_selected_channels.map(channel => new D3DataLink(new ChannelLink($SCRIPT_ROOT, "noise_sample", channel))),
        operation(this_select[0])
       )
    );
    
    var data_link = $(this_operand).data("data_link");
    // and hook up to cubism
    d3.select("#demo").selectAll(".new")
      .data([context.metric(data_link.get_data, data_link.name())])
      .enter().insert("div", ".bottom")
      .attr("class", "new")
      .call(context.horizon().height({{ height }}));
  });

</script>
{% endblock %}
