{% extends "layout.html" %}
{% block title %}Power Supplies{% endblock %}
{% block body %}
{{ super() }}
<div class="container">

<div class="row">
    <div class="col-md-4 vcenter hcenter">
        <div class="card">
        <div class="card-header">Supply Info</div>
        <ul class="list-group list-group-flush">
            {% for d in data %}
                <li class="list-group-item">{{d}}: <span id="stream-{{d}}"></span></li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="col-md-4 vcenter hcenter">
        {% include 'data_options.html' %}
    </div>
</div>
<div class="row" style="padding.top:10">
    <div class="col-md-8" style="padding:0" id="timeseries"></div>
    <div class="col-md-4">
        {% include 'stream_options.html' %}
    </div>
</div>
</div>
{%endblock%}
{% block script %}
<script defer>

// global variables to be used by html objects, etc.
var context;
var horizon;

$(document).ready(function() {
    var initial_param = {
      height: 40, 
      threshold_lo: POWER_SUPPLY_DATA_TYPES[$("#data-type").val()].default_thresholds[0],
      threshold_hi: POWER_SUPPLY_DATA_TYPES[$("#data-type").val()].default_thresholds[1]
    };
    Param(initial_param);
    // setup cubism
    context = create_cubism_context("#timeseries", $("#data-step").val());
    // start getting data
    horizon = updateData("#timeseries", context, Param(), $("#data-type").val(), metric_info);
});

// setup polls for real time data
{% for d in data %}
{
var poll = new D3DataPoll(POWER_SUPPLY_DATA_TYPES["{{d}}"].data_link($SCRIPT_ROOT, '{{supply_name}}'),
    10000,
    [function(value) { $("#stream-{{d}}").html(value); }]);
poll.run();
}
{% endfor %}

// simple metric_info implementation
class power_supply_metric_info {
    constructor() {}

    data_list(data_type, context) {
        return [POWER_SUPPLY_DATA_TYPES[$("#data-type").val()].data_link($SCRIPT_ROOT, '{{supply_name}}')];
    }
}

var metric_info = new power_supply_metric_info();

</script>
{% endblock %}
