{% extends "layout.html" %}
{% block title %}Recent Warnings{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Level</th>
      <th scope="col">Time</th>
      <th scope="col">Run</th>
      <th scope="col">SubRun</th>
      <th scope="col">Event</th>
      <th scope="col">Type</th>
      <th scope="col">Content</th>
   </tr>
  </thead>
  <tbody id="warnings">
  </tbody>
</table>
{%endblock%}
{% block script %}
<script defer>
function get_warning_color(type) {
  if (type == "Info") return "green";
  if (type == "Error") return "red";
  if (type == "Warning") return "orange";
  return "black";
}

$(document).ready(function() {
var start = moment().subtract(1, 'd').unix();
d3.json($SCRIPT_ROOT + "/get_warnings/" + start, function(err, data) {
  if (data===undefined || data.warnings===undefined || data.warnings.length===undefined) return;

  // iterate over warnings in descending order
  for (var i = data.warnings.length - 1; i >= 0; i--) {
    var span_id = "warning_" + i;
    var span_start = "<span id='" + span_id + "'>";
    $("#warnings").append( `
      <tr>
        <th scope="col">` + span_start + data.warnings[i].level + `</span></th>
        <th scope="col">` + moment.unix(data.warnings[i].timestamp).format("YYYY-MM-DD HH:mm") + `</th>
        <th scope="col">` + data.warnings[i].run + `</th>
        <th scope="col">` + data.warnings[i].subrun + `</th>
        <th scope="col">` + data.warnings[i].event + `</th>
        <th scope="col">` + data.warnings[i].type + `</th>
        <th scope="col">` + data.warnings[i].content.replace(/\n/g, "<br>") + `</th>
      </tr>`
    );
    $("#" + span_id).css('color', get_warning_color(data.warnings[i].level));
  }
});
});

</script>
{% endblock %}
