{% macro metric_option(metrics, default_metric, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">Data</label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for metric, _ in metrics.items() %}
                <option {% if metric==default_metric %}selected="true" {%endif%}value="{{metric}}">{{metric}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}

{% macro stream_option(streams, default_stream, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">
        Stream
    </label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for stream in streams %}
                <option {% if stream==default_stream %}selected="true" {%endif%}value="{{loop.index0}}">{{stream}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}

{% macro height_option(heights, default_height, id) %}
<div class="form-group row">
    <label class="col-sm-4 control-form-label col-form-label">
        Height
    </label>
    <div class="col-sm-8">
        <select id="{{id}}" class="form-control">
            {% for height in heights %}
                <option {%if height == default_height %}selected="true"{% endif %} value="{{height}}">{{height}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}

{% macro threshold_option(id_lo, id_hi) %}
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Threshold Hi</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_hi}}">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Threshold Lo</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_lo}}">
    </div>
</div>
{% endmacro %}

{% macro warning_option(id_lo, id_hi) %}
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Warning Hi</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_hi}}">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-6 control-form-label col-form-label"> Warning Lo</label>
    <div class="col-sm-6">
        <input type="text" size="12" id="{{id_lo}}">
    </div>
</div>
{% endmacro %}
