{% extends "layout.html" %}
{% block title %}System Monitor{% endblock %}
{% block head %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/library/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/library/cubism.v1.js') }}"></script>
{% endblock %}
{% block body %}
{{ super() }}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="pull-right">Step: 
        <select id="step-menu">
          {% for i in [1,10,100,1000] %}
            <option {% if step == i %}selected="selected" {% endif %}value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="padding:0" id="demo"></div>
    </div>
  </div>
{%endblock%}
{% block script %}
    <script src="{{ url_for('static', filename='js/library/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/cubism.v1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minard/tzscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minargon/Data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minard/stream_utilities.js') }}"></script>
    <script>
        var step = {{ step }};
        var height = {{ height }};
    </script>
<script>
  $("#step-menu").on("change", function() {
      window.location.replace("{{ url_for('system_monitor') }}?step=" + this.value + "&height={{ height }}"+ "&channel_data={{ channel_data_str }}" 
          + "&n_channels={{n_channels}}");
  });

var data_link_constructors = {};
data_link_constructors["rms"] = (channel) => new D3DataLink(new ChannelLink($SCRIPT_ROOT, "rms", channel));
data_link_constructors["baseline"] = (channel) => new D3DataLink(new ChannelLink($SCRIPT_ROOT, "baseline", channel));
data_link_constructors["max"] = (channel) => new D3DataLink(new ChannelLink($SCRIPT_ROOT, "max", channel));
data_link_constructors['n_peaks'] = function(channel) { 
  return new D3DataLink(new ChannelLink($SCRIPT_ROOT, "peaks", channel), function(x) {
    return x.length
  }, 'n_peaks: ' + channel.toString());
};
data_link_constructors['mean_peak_width'] = function(channel) { 
  return new D3DataLink(new ChannelLink($SCRIPT_ROOT, "peaks", channel), function(x) {
    return x.reduce((sum, peak) => sum + peak.width, 0);
  }, 'mean_peak_width: ' + channel.toString());
};


var size = $('#demo').width();
var context = cubism.context()
    .serverDelay(1e3)
    .clientDelay(1e3)
    .step({{ step }}*1000)
    .size(size / {{step_size}});

d3.select("#demo").selectAll(".axis")
    .data(["top", "bottom"])
  .enter().append("div")
    .attr("class", function(d) { return d + " axis"; })
    .each(function(d) { d3.select(this).call(context.axis().ticks(12).orient(d)); });

d3.select("#demo").append("div")
    .attr("class", "rule")
    .call(context.rule());

var datums = [];
{% for datum in per_channel_datums %}
for (var i=0;i<{{n_channels}};i++) {
  datums.push(data_link_constructors["{{datum}}"](i));
}
{% endfor %}
console.log(datums.map(datum => datum.name()));
d3.select("#demo").selectAll(".horizon")
  .data(datums.map(data_link => context.metric(data_link.get_data.bind(data_link), data_link.name())))
  .enter().insert("div", ".bottom")
    .attr("class", "horizon")
  .call(context.horizon().height({{ height }}));

context.on("focus", function(i) {
  d3.selectAll(".value").style("right", i == null ? null : context.size() - i + "px");
});

</script>
{% endblock %}
