{% extends "layout.html" %}
{% block title %}Stream{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .axis path {
            display: none;
        }

        .horizon .title,
        .horizon .value {
            line-height: {{ height }}px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ super() }}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-10">
                <p>Dispatcher: <span id='dispatcher'></span>
            </div>
            <div class="col-md-2 text-right">
                <select id="step-menu">
                    {% for i, text in [(1,"15 min"), (3, "1 hour"), (9, "3 hours"), (29, "9 hours"), (90, "1 day"), (280, "3 days"), (867, "1 week"), (2677, "1 month"), (8267, "3 months"), (25531, "1 year"), (255310, "10 years")] %}
                        <option {% if step == i %}selected="selected" {% endif %}value="{{ i }}">{{ text }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding:0" id="main"></div>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/library/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/cubism.v1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minard/tzscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minard/stream_utilities.js') }}"></script>
    <script>
        var step = {{ step }};
        var height = {{ height }};
    </script>
{% endblock %}
