{% extends "layout.html" %}
{% block title %}System Monitor{% endblock %}
{% block head %}
{{ super() }}
  <script src="{{ url_for('static', filename='js/library/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/library/cubism.v1.js') }}"></script>
{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
<div class="row">
    <div class="col-md-6 col-centered">
        <div class="card">
            <div class="card-header">Stream Options</div>
            <div class="card-body">
                <form class="form" role="form">
                <div class="form-group row">
                    <label class="col-sm-4 control-form-label col-form-label">
                    Step
                    </label>
                    <div class="col-sm-8">
                    <select id="data-step" class="form-control" onchange="updateStep(this,context)">
                    {% for step in steps %}
                        <option value="{{step}}">{{step}} seconds</option>
                    {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-form-label col-form-label">
                    Height
                    </label>
                    <div class="col-sm-8">
                    <select id="data-height" class="form-control" onchange="updateParam('#timeseries', context, Param())">
                    {% for height in [20, 40, 60, 80, 100] %}
                        <option {%if height == 40 %}selected="true"{% endif %} value="{{height}}">{{height}}</option>
                    {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-form-label col-form-label">Data</label>
                    <div class="col-sm-8">
                    <select id="data-type" class="form-control" onchange="newData(this)"/>
                    {% for datum in data %}
                        <option {% if datum==inital_datum %}selected="true" {%endif%}value="{{datum}}">{{datum}}</option>
                    {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-form-label col-form-label"> Threshold Hi</label>
                    <div class="col-sm-8">
                        <input type="text" id="threshold-hi" onkeydown="if (event.keyCode == 13) updateParam('#timeseries', context, Param())"/> 
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-form-label col-form-label"> Threshold Lo</label>
                    <div class="col-sm-8">
                        <input type="text" id="threshold-lo" onkeydown="if (event.keyCode == 13) updateParam('#timeseries', context, Param())"/> 
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="padding:0" id="timeseries"></div>
</div>
</div>
{%endblock%}
{% block script %}
    <script src="{{ url_for('static', filename='js/library/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/cubism.v1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minargon/Data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minargon/add-timeseries.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minargon/detector.js') }}"></script>
<script>

function Param(newParam) {
    if (newParam === undefined) 
        return {
	    height: $("#data-height").val(),
	    threshold_lo: $("#threshold-lo").val(),
	    threshold_hi: $("#threshold-hi").val()
        };
    else {
        $("#data-height").val(newParam["height"]);
        $("#threshold-lo").val(newParam["threshold_lo"]);
        $("#threshold-hi").val(newParam["threshold_hi"]);
    } 
}

function newData(selector) {
    var param = Param();
    param["threshold_lo"] = DATA_TYPES[selector.value]["default_thresholds"][0];
    param["threshold_hi"] = DATA_TYPES[selector.value]["default_thresholds"][1];
    Param(param);
    updateData('#timeseries', context, datum_list(selector.value), param);
}

function datum_list(name) {
    var datums = [];
    for (var i = 0; i < {{n_channels_per_fem}}; i++) {
        datums.push(DATA_TYPES[name].data_link($SCRIPT_ROOT, get_wire({{card}}, {{fem}}, i)).name("channel " + i));
    }
    return datums;
}

// setup cubism
var context;
var horizon;
$(document).ready(function() {
    context = create_cubism_context("#timeseries", $("#data-step").val());
    horizon = add_metrics("#timeseries", context, datum_list($("#data-type").val()), Param());
});

</script>
{% endblock %}
